dist/awards.html
<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="utf-8">
  <meta name="description" content="">
  <meta name="format-detection" content="telephone=no">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>Moscow Urban Forum</title>
  <link rel="apple-touch-icon-precomposed" sizes="152x152" href="apple-touch-icon-152x152.png">
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="apple-touch-icon-144x144.png">
  <link rel="icon" type="image/png" href="favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="favicon-16x16.png" sizes="16x16">
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="styles/main.css">
</head>
<body ontouchstart><!--[if lt IE 10]><p class="browserupgrade">You are using an <strong>outdated</strong> browser.
  Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p><![endif]-->
<div class="container">
  <header class="header"><a class="header__logo" href="/"><img src="./assets/img/logo.svg"
                                                               srcset="./assets/img/logo.svg 2x, ./assets/img/logo.svg 3x"></a>
    <nav class="menu">
      <ul class="menu__row">
        <li class="menu__item"><a href="#main-history">Форум 2017</a></li>
        <li class="menu__item"><a href="/news-list.html">Новости</a></li>
        <li class="menu__item"><a href="/calendar.html#month_2_2018">Календарь</a></li>
        <li class="menu__item"><a href="/fest.html">Фестиваль</a></li>
        <li class="menu__item"><a href="#">Премия</a></li>
      </ul>
      <ul class="menu__row">
        <li class="menu__item"><a href="/partnership.html">Партнеры</a></li>
        <li class="menu__item"><a href="/library.html">Библиотека</a></li>
        <li class="menu__item"><a href="/video.html">Видео</a></li>
        <li class="menu__item menu__item--dropdown">
          <div>Архив</div>
          <ul class="menu__dropdown">
            <li class="menu__item"><a href="/">Форум 2016</a></li>
            <li class="menu__item"><a href="/">Форум 2015</a></li>
            <li class="menu__item"><a href="/">Форум 2014</a></li>
          </ul>
        </li>
      </ul>
    </nav>
    <div class="header__registration"><a class="header__registration-btn" href="#">Регистрация</a></div>
    <a class="header__language-link" href="#">en</a>
    <div class="header__nav-toggle">
      <div class="hamburger hamburger--squeeze">
        <div class="hamburger-box">
          <div class="hamburger-inner"></div>
        </div>
      </div>
    </div>
  </header>
  <nav class="menu-mobile">
    <div class="menu-mobile__inner">
      <ul class="menu-mobile__list">
        <li class="menu-mobile__item"><a href="#">Форум 2017</a></li>
        <li class="menu-mobile__item"><a href="/news-list.html">Новости</a></li>
        <li class="menu-mobile__item"><a href="/calendar.html">Календарь</a></li>
        <li class="menu-mobile__item"><a href="/fest.html">Фестиваль</a></li>
        <li class="menu-mobile__item"><a href="#">Премия</a></li>
        <li class="menu-mobile__item"><a href="/partnership.html">Партнеры</a></li>
        <li class="menu-mobile__item"><a href="/library.html">Библиотека</a></li>
        <li class="menu-mobile__item"><a href="/video.html">Видео</a></li>
      </ul>
      <ul class="menu-mobile__archive">
        <div class="menu-mobile__archive-title">Архив</div>
        <li class="menu-mobile__item menu-mobile__item--horizontal"><a href="#">2016</a></li>
        <li class="menu-mobile__item menu-mobile__item--horizontal"><a href="#">2015</a></li>
        <li class="menu-mobile__item menu-mobile__item--horizontal"><a href="#">2014</a></li>
        <li class="menu-mobile__item menu-mobile__item--horizontal"><a href="#">2013</a></li>
      </ul>
      <div class="menu-mobile__social">
        <div class="menu-mobile__social-item menu-mobile__social-item--ig"></div>
        <div class="menu-mobile__social-item menu-mobile__social-item--yt"></div>
        <div class="menu-mobile__social-item menu-mobile__social-item--vk"></div>
        <div class="menu-mobile__social-item menu-mobile__social-item--fb"></div>
      </div>
    </div>
  </nav>
  <main class="mainer">
    <section class="page">
      <div class="page__content"><h1 class="page-title">MUF Community Awards</h1><span class="page-subtitle">Премия MUF Community Awards — первая мультидисциплинарная премия городских сообществ, независимых проектов, частных инициатив и стартапов, внесших значительный вклад в развитие Москвы.</span>
        <p class="paragraph">Экспериментальные лаборатории MUF 17 — это динамичные исследовательские воркшопы по
          разработке инструментов внедрения технологических инноваций в политику Москвы.</p>
        <p class="paragraph">Лаборатории посвящены трем приоритетным для Москвы направлениям: мобильность, жилье и
          качество среды обитания. Лаборатории станут платформой для открытого диалога и совместной работы профильных
          департаментов Правительства Москвы, профессионалов в области развития городской среды, создателей
          инновационных технологических разработок и инвесторов.</p>
        <p class="paragraph">Опыт ведущих глобальных мегаполисов показывает, как важна для будущего Москвы повестка
          открытого технологического развития. Москва должна стать городом, открытым для новых технологий и нацеленным
          на постоянное повышение качества жизни за счет поиска и внедрения новых технологических решений. В свою
          очередь технологии должны стать открытыми и доступными в повседневной жизни горожан.</p></div>
      <div class="full-width-info">
        <div class="full-width-info__content"><h2 class="full-width-info__title">Цели Лабораторий</h2><span
          class="full-width-info__subtitle">Номинантов премии отбирает экспертный совет. Победители определяются публичным голосованием.</span>
          <div class="full-width-info__block"><span class="full-width-info__block-item"><b>Экспертный совет</b> — формируется следующим образом: оргкомитет выдвигает от каждой номинации несколько соответствующих ее профилю эксперта-профессионала, которые внутри своей номинации составляют список из 3-5 номинантов.</span><span
            class="full-width-info__block-item"><b>Публичное голосование</b> на сайте mos.ru определит победителей из списка объявленных номинантов.</span>
          </div>
        </div>
      </div>
      <div class="page__content"><h1 class="page-title">Направления работы</h1>
        <div class="numbered-block">
          <div class="numbered-block__col-title">Номинация</div>
          <div class="numbered-block__col-title">Номинанты</div>
          <div class="numbered-block__content">
            <div class="numbered-block__item">
              <div class="numbered-block__item-title">
                <div class="numbered-block__item-title-text numbered-block__item-title-text--uppercase">Entertainment &
                  Leisure
                </div>
                <div class="numbered-block__item-title-desc">Сфера развлечений и досуга</div>
              </div>
              <div class="numbered-block__item-content"><a class="numbered-block__link" href="#"><span
                class="numbered-block__link-text">Политехнический музей на ВДНХ</span><img
                class="numbered-block__link-img"
                src="http://www.yugopolis.ru/data/img/3f85e8b8ce283f34df4405756b548dc0/252159.jpg">
                <div class="numbered-block__link-tint"></div>
              </a><a class="numbered-block__link" href="#"><span class="numbered-block__link-text">Квесты «Клаустрофобия»</span><img
                class="numbered-block__link-img"
                src="https://www.meme-arsenal.com/memes/01f9c511dcfd998a149df1af33171d13.jpg">
                <div class="numbered-block__link-tint"></div>
              </a></div>
            </div>
            <div class="numbered-block__item">
              <div class="numbered-block__item-title">
                <div class="numbered-block__item-title-text numbered-block__item-title-text--uppercase">EDUCATION &
                  SCIENCE
                </div>
                <div class="numbered-block__item-title-desc">Научно-образовательные инициативы</div>
              </div>
              <div class="numbered-block__item-content"><a class="numbered-block__link" href="#"><span
                class="numbered-block__link-text">Политехнический музей на ВДНХ</span><img
                class="numbered-block__link-img"
                src="http://www.yugopolis.ru/data/img/3f85e8b8ce283f34df4405756b548dc0/252159.jpg">
                <div class="numbered-block__link-tint"></div>
              </a><a class="numbered-block__link" href="#"><span class="numbered-block__link-text">Квесты «Клаустрофобия»</span><img
                class="numbered-block__link-img"
                src="https://www.meme-arsenal.com/memes/01f9c511dcfd998a149df1af33171d13.jpg">
                <div class="numbered-block__link-tint"></div>
              </a></div>
            </div>
          </div>
        </div>
        <p class="paragraph">Экспериментальные лаборатории MUF 17 — это динамичные исследовательские воркшопы по
          разработке инструментов внедрения технологических инноваций в политику Москвы.</p>
        <p class="paragraph">Лаборатории посвящены трем приоритетным для Москвы направлениям: мобильность, жилье и
          качество среды обитания. Лаборатории станут платформой для открытого диалога и совместной работы профильных
          департаментов Правительства Москвы, профессионалов в области развития городской среды, создателей
          инновационных технологических разработок и инвесторов.</p>
        <p class="paragraph">Опыт ведущих глобальных мегаполисов показывает, как важна для будущего Москвы повестка
          открытого технологического развития. Москва должна стать городом, открытым для новых технологий и нацеленным
          на постоянное повышение качества жизни за счет поиска и внедрения новых технологических решений. В свою
          очередь технологии должны стать открытыми и доступными в повседневной жизни горожан.</p>
        <h1 class="page-title">Экспертный совет</h1>
        <p class="paragraph">Номинантов MUF Community Awards определяет экспертный совет — представители ведущих
          городских сообществ и проектов, развивающих Москву.</p>
        <div class="numbered-block">
          <div class="numbered-block__col-title">Номинация</div>
          <div class="numbered-block__col-title">ЭКСПЕРТЫ</div>
          <div class="numbered-block__content">
            <div class="numbered-block__item">
              <div class="numbered-block__item-title numbered-block__item-title--clean">
                <div class="numbered-block__item-title-text numbered-block__item-title-text--uppercase">Entertainment
                  &<br>Leisure
                </div>
                <div class="numbered-block__item-title-desc">Сфера развлечений<br>и досуга</div>
              </div>
              <div class="numbered-block__item-content">
                <div class="numbered-block__item-content-text"><b>Ольга Захарова</b>, управляющий директор ADG Group,
                  экс-директор Парка Горького
                </div>
                <div class="numbered-block__item-content-text"><b>Антон Ковальков</b>, шеф-повар, лауреат Omnivore</div>
                <div class="numbered-block__item-content-text"><b>Анна Лашова</b>, ведущая радиостанции «Серебряный
                  дождь»
                </div>
              </div>
            </div>
            <div class="numbered-block__item">
              <div class="numbered-block__item-title numbered-block__item-title--clean">
                <div class="numbered-block__item-title-text numbered-block__item-title-text--uppercase">EDUCATION &<br>SCIENCE
                </div>
                <div class="numbered-block__item-title-desc">Научно-образовательные<br>инициативы</div>
              </div>
              <div class="numbered-block__item-content">
                <div class="numbered-block__item-content-text"><b>Максим Казарновский</b>, директор исполнительной
                  дирекции Московского международного салона образования
                </div>
                <div class="numbered-block__item-content-text"><b>Григорий Ковбасюк</b>, генеральный директор телеканала
                  «Наука»
                </div>
                <div class="numbered-block__item-content-text"><b>Иван Боганцев</b>, заместитель генерального директора
                  Политехнического музея по просветительской и образовательной работе
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
  <footer class="footer">
    <div class="footer__social">
      <div class="footer__social-content"><a class="footer__social-item" href="#"><img
        class="footer__social-icon footer__social-icon--fb" src="assets/img/footer/fb.svg"></a><a
        class="footer__social-item" href="#"><img class="footer__social-icon footer__social-icon--vk"
                                                  src="assets/img/footer/vk.svg"></a><a class="footer__social-item"
                                                                                        href="#"><img
        class="footer__social-icon footer__social-icon--yt" src="assets/img/footer/yt.svg"></a><a
        class="footer__social-item" href="#"><img class="footer__social-icon footer__social-icon--ig"
                                                  src="assets/img/footer/ig.svg"></a></div>
    </div>
    <div class="footer__content">
      <div class="footer__row"><img class="footer__logo" src="assets/img/logo-simple.png" width="100%" height="100%"
                                    title="Moscow Urban Forum">
        <div class="footer__info"><h1 class="footer__info-title">MOSCOW URBAN FORUM — крупнейший международный конгресс,
          посвященный вызовам развития глобальных мегаполисов. Форум проводится ежегодно с 2011 года.</h1><span
          class="footer__info-text">MUF объединяет представителей городских администраций России и мира, архитекторов, градостроителей, девелоперов, руководителей финансовых компаний, инвесторов, технологические стартапы, представителей медиа  и горожан.</span>
        </div>
      </div>
      <div class="footer__row">
        <div class="footer__block"><h2 class="footer__block-title">Разделы</h2><a class="footer__nav-item" href="#">Форум
          2017</a><a class="footer__nav-item" href="#">Видео выступлений</a><a class="footer__nav-item" href="#">Календарь</a><a
          class="footer__nav-item" href="#">Новости</a></div>
        <div class="footer__block"><h2 class="footer__block-title">Архив</h2><a class="footer__nav-item"
                                                                                href="#">2012</a><a
          class="footer__nav-item" href="#">2013</a><a class="footer__nav-item" href="#">2014</a><a
          class="footer__nav-item" href="#">2016</a></div>
        <div class="footer__block"><h2 class="footer__block-title">Контакты</h2>
          <div class="footer__phone">8 499 641-15-82</div>
          <a class="footer__link" href="mailto:welcome@mosurbanforum.ru" target="_blank">welcome@mosurbanforum.ru</a>
          <div class="footer__decorated-block"><h2 class="footer__decorated-block-title">Адрес офиса</h2><span
            class="footer__decorated-block-content">ВДНХ, домовладение 119, павильон № 75, проспект Мира, Москва, 129223</span>
          </div>
        </div>
        <div class="footer__block"><h2 class="footer__block-title">По вопросам партнерста и спонcорства</h2><span>8 499 641-15-82 | <a
          class="footer__link" href="mailto:partner@mosurbanforum.ru">partner@mosurbanforum.ru</a></span>
          <div class="footer__people">
            <div class="footer__decorated-block"><h2 class="footer__decorated-block-title">Арина Дробина</h2><span
              class="footer__decorated-block-content">директор по маркетингу</span></div>
            <div class="footer__decorated-block"><h2 class="footer__decorated-block-title">Наталья Дубовик</h2><span
              class="footer__decorated-block-content">менеджер по работе с партнерами</span></div>
          </div>
          <div class="footer__tender"><strong>Стать подрядчиком:&nbsp;</strong><a class="footer__link"
                                                                                  href="mailto:tenders@mosurbanforum.ru">tenders@mosurbanforum.ru</a>
          </div>
        </div>
      </div>
      <div class="footer__copyright">© Moscow Urban Forum, 2017</div>
    </div>
  </footer>
  <footer class="footer__mob">
    <div class="footer__mob-inner">
      <div class="footer__mob-section"><h3 class="footer__mob-section-title">Разделы</h3>
        <nav class="footer__mob-nav"><a class="footer__mob-nav-item" href="#">Форум 2017</a><a
          class="footer__mob-nav-item" href="#">Новости</a><a class="footer__mob-nav-item" href="#">Календарь</a><a
          class="footer__mob-nav-item" href="#">Фестиваль</a><a class="footer__mob-nav-item" href="#">Премия</a><a
          class="footer__mob-nav-item" href="#">Партнеры</a><a class="footer__mob-nav-item" href="#">Библиотека</a><a
          class="footer__mob-nav-item" href="#">Видео</a></nav>
      </div>
      <div class="footer__mob-section"><h3 class="footer__mob-section-title">Архив</h3>
        <nav class="footer__mob-nav"><a class="footer__mob-nav-item" href="#">2016</a><a class="footer__mob-nav-item"
                                                                                         href="#">2015</a><a
          class="footer__mob-nav-item" href="#">2014</a><a class="footer__mob-nav-item" href="#">2013</a></nav>
      </div>
      <div class="footer__mob-section footer__mob-section--small-indent"><h3 class="footer__mob-section-title">
        Контакты</h3><span class="footer__mob-section-text">8 499 641-15-82<br><a class="footer__mob-link"
                                                                                  href="mailto:welcome@mosurbanforum.ru"
                                                                                  target="_blank">welcome@mosurbanforum.ru</a></span>
      </div>
      <div class="footer__mob-section footer__mob-section--small-indent"><h4
        class="footer__mob-section-title footer__mob-section-title--secondary">Адрес офиса</h4><span
        class="footer__mob-section-text">ВДНХ, домовладение 119, павильон № 75,<br>проспект Мира, Москва, 129223</span>
      </div>
      <div class="footer__mob-section footer__mob-section--small-indent"><h4
        class="footer__mob-section-title footer__mob-section-title--secondary">Стать подрядчиком</h4><span
        class="footer__mob-section-text"><a class="footer__mob-link" href="mailto:tenders@mosurbanforum.ru"
                                            target="_blank">tenders@mosurbanforum.ru</a></span></div>
      <div class="footer__mob-section footer__mob-section--marked footer__mob-section--small-indent"><h3
        class="footer__mob-section-title">По вопросам партнерства и спонсорства</h3><span
        class="footer__mob-section-text">8 499 641-15-82<br><a class="footer__mob-link"
                                                               href="mailto:partner@mosurbanforum.ru" target="_blank">partner@mosurbanforum.ru</a></span>
      </div>
      <div class="footer__mob-section footer__mob-section--small-indent"><h4
        class="footer__mob-section-title footer__mob-section-title--secondary">Арина Дробина</h4><span
        class="footer__mob-section-text">директор по маркетингу</span></div>
      <div class="footer__mob-section"><h4 class="footer__mob-section-title footer__mob-section-title--secondary">
        Наталья Дубовик</h4><span class="footer__mob-section-text">менеджер по работе с партнерами</span></div>
      <div class="footer__mob-copyright">© Moscow Urban Forum, 2017</div>
    </div>
  </footer>
</div>
<script src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script src="http://vk.com/js/api/xd_connection.js?2&quot;"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
<script src="https://unpkg.com/micromodal/dist/micromodal.min.js"></script>
<script src="scripts/main.js"></script>
</body>
</html>

app/awards.pug
extends pug/layouts/default
include pug/components/secondary-button
block content
  main.mainer
    section.page
      .page__content
        h1.page-title MUF Community Awards
        span.page-subtitle.
          Премия MUF Community Awards — первая мультидисциплинарная премия городских сообществ, независимых проектов,
          частных инициатив и стартапов, внесших значительный вклад в развитие Москвы.
        p.paragraph.
          Экспериментальные лаборатории MUF 17 — это динамичные исследовательские воркшопы по разработке инструментов
          внедрения технологических инноваций в политику Москвы.
        p.paragraph.
          Лаборатории посвящены трем приоритетным для Москвы направлениям: мобильность, жилье и качество среды обитания.
          Лаборатории станут платформой для открытого диалога и совместной работы профильных департаментов Правительства Москвы,
          профессионалов в области развития городской среды, создателей инновационных технологических разработок и инвесторов.
        p.paragraph.
          Опыт ведущих глобальных мегаполисов показывает, как важна для будущего Москвы повестка открытого технологического развития.
          Москва должна стать городом, открытым для новых технологий и  нацеленным на постоянное повышение качества жизни
          за счет поиска и внедрения новых технологических решений. В свою очередь технологии должны стать открытыми и доступными
          в повседневной жизни горожан.
      .full-width-info
        .full-width-info__content
          h2.full-width-info__title Цели Лабораторий
          span.full-width-info__subtitle.
            Номинантов премии отбирает экспертный совет.
            Победители определяются публичным голосованием.
          .full-width-info__block
            span.full-width-info__block-item.
              <b>Экспертный совет</b> — формируется следующим образом: оргкомитет выдвигает от каждой номинации несколько
              соответствующих ее профилю эксперта-профессионала, которые внутри своей номинации составляют список из 3-5 номинантов.
            span.full-width-info__block-item.
              <b>Публичное голосование</b> на сайте mos.ru определит победителей из  списка объявленных номинантов.
      .page__content
        h1.page-title Направления работы

        .numbered-block
          .numbered-block__col-title Номинация
          .numbered-block__col-title Номинанты
          .numbered-block__content
            .numbered-block__item
              .numbered-block__item-title
                .numbered-block__item-title-text.numbered-block__item-title-text--uppercase Entertainment & Leisure
                .numbered-block__item-title-desc Сфера развлечений и досуга
              div.numbered-block__item-content
                a.numbered-block__link(href='#')
                  span.numbered-block__link-text Политехнический музей на ВДНХ
                  img.numbered-block__link-img(src='http://www.yugopolis.ru/data/img/3f85e8b8ce283f34df4405756b548dc0/252159.jpg')
                  .numbered-block__link-tint
                a.numbered-block__link(href='#')
                  span.numbered-block__link-text Квесты «Клаустрофобия»
                  img.numbered-block__link-img(src='https://www.meme-arsenal.com/memes/01f9c511dcfd998a149df1af33171d13.jpg')
                  .numbered-block__link-tint

            .numbered-block__item
              .numbered-block__item-title
                .numbered-block__item-title-text.numbered-block__item-title-text--uppercase EDUCATION & SCIENCE
                .numbered-block__item-title-desc Научно-образовательные инициативы
              div.numbered-block__item-content
                a.numbered-block__link(href='#')
                  span.numbered-block__link-text Политехнический музей на ВДНХ
                  img.numbered-block__link-img(src='http://www.yugopolis.ru/data/img/3f85e8b8ce283f34df4405756b548dc0/252159.jpg')
                  .numbered-block__link-tint
                a.numbered-block__link(href='#')
                  span.numbered-block__link-text Квесты «Клаустрофобия»
                  img.numbered-block__link-img(src='https://www.meme-arsenal.com/memes/01f9c511dcfd998a149df1af33171d13.jpg')
                  .numbered-block__link-tint

        p.paragraph.
          Экспериментальные лаборатории MUF 17 — это динамичные исследовательские воркшопы по разработке инструментов
          внедрения технологических инноваций в политику Москвы.
        p.paragraph.
          Лаборатории посвящены трем приоритетным для Москвы направлениям: мобильность, жилье и качество среды обитания.
          Лаборатории станут платформой для открытого диалога и совместной работы профильных департаментов Правительства Москвы,
          профессионалов в области развития городской среды, создателей инновационных технологических разработок и инвесторов.
        p.paragraph.
          Опыт ведущих глобальных мегаполисов показывает, как важна для будущего Москвы повестка открытого технологического развития.
          Москва должна стать городом, открытым для новых технологий и  нацеленным на постоянное повышение качества жизни
          за счет поиска и внедрения новых технологических решений. В свою очередь технологии должны стать открытыми и доступными
          в повседневной жизни горожан.
        h1.page-title Экспертный совет
        p.paragraph.
          Номинантов MUF Community Awards определяет экспертный совет — представители ведущих городских сообществ и проектов, развивающих Москву.
        .numbered-block
          .numbered-block__col-title Номинация
          .numbered-block__col-title ЭКСПЕРТЫ
          .numbered-block__content
            .numbered-block__item
              .numbered-block__item-title.numbered-block__item-title--clean
                .numbered-block__item-title-text.numbered-block__item-title-text--uppercase Entertainment &<br/>Leisure
                .numbered-block__item-title-desc Сфера развлечений<br/>и досуга
              .numbered-block__item-content
                .numbered-block__item-content-text <b>Ольга Захарова</b>, управляющий директор ADG Group, экс-директор Парка Горького
                .numbered-block__item-content-text <b>Антон Ковальков</b>, шеф-повар, лауреат Omnivore
                .numbered-block__item-content-text <b>Анна Лашова</b>, ведущая радиостанции «Серебряный дождь»
            .numbered-block__item
              .numbered-block__item-title.numbered-block__item-title--clean
                .numbered-block__item-title-text.numbered-block__item-title-text--uppercase EDUCATION &<br/>SCIENCE
                .numbered-block__item-title-desc Научно-образовательные<br/>инициативы
              .numbered-block__item-content
                .numbered-block__item-content-text <b>Максим Казарновский</b>, директор исполнительной дирекции Московского международного салона образования
                .numbered-block__item-content-text <b>Григорий Ковбасюк</b>, генеральный директор телеканала «Наука»
                .numbered-block__item-content-text <b>Иван Боганцев</b>, заместитель генерального директора Политехнического музея по просветительской и образовательной работе
