dist/calendar.html
<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="utf-8">
  <meta name="description" content="">
  <meta name="format-detection" content="telephone=no">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>Moscow Urban Forum</title>
  <link rel="apple-touch-icon-precomposed" sizes="152x152" href="apple-touch-icon-152x152.png">
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="apple-touch-icon-144x144.png">
  <link rel="icon" type="image/png" href="favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="favicon-16x16.png" sizes="16x16">
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="styles/main.css">
</head>
<body ontouchstart><!--[if lt IE 10]><p class="browserupgrade">You are using an <strong>outdated</strong> browser.
  Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p><![endif]-->
<div class="container">
  <header class="header"><a class="header__logo" href="/"><img src="./assets/img/logo.svg"
                                                               srcset="./assets/img/logo.svg 2x, ./assets/img/logo.svg 3x"></a>
    <nav class="menu">
      <ul class="menu__row">
        <li class="menu__item"><a href="#main-history">Форум 2017</a></li>
        <li class="menu__item"><a href="/news-list.html">Новости</a></li>
        <li class="menu__item"><a href="/calendar.html#month_2_2018">Календарь</a></li>
        <li class="menu__item"><a href="/fest.html">Фестиваль</a></li>
        <li class="menu__item"><a href="#">Премия</a></li>
      </ul>
      <ul class="menu__row">
        <li class="menu__item"><a href="/partnership.html">Партнеры</a></li>
        <li class="menu__item"><a href="/library.html">Библиотека</a></li>
        <li class="menu__item"><a href="/video.html">Видео</a></li>
        <li class="menu__item menu__item--dropdown">
          <div>Архив</div>
          <ul class="menu__dropdown">
            <li class="menu__item"><a href="/">Форум 2016</a></li>
            <li class="menu__item"><a href="/">Форум 2015</a></li>
            <li class="menu__item"><a href="/">Форум 2014</a></li>
          </ul>
        </li>
      </ul>
    </nav>
    <div class="header__registration"><a class="header__registration-btn" href="#">Регистрация</a></div>
    <a class="header__language-link" href="#">en</a>
    <div class="header__nav-toggle">
      <div class="hamburger hamburger--squeeze">
        <div class="hamburger-box">
          <div class="hamburger-inner"></div>
        </div>
      </div>
    </div>
  </header>
  <nav class="menu-mobile">
    <div class="menu-mobile__inner">
      <ul class="menu-mobile__list">
        <li class="menu-mobile__item"><a href="#">Форум 2017</a></li>
        <li class="menu-mobile__item"><a href="/news-list.html">Новости</a></li>
        <li class="menu-mobile__item"><a href="/calendar.html">Календарь</a></li>
        <li class="menu-mobile__item"><a href="/fest.html">Фестиваль</a></li>
        <li class="menu-mobile__item"><a href="#">Премия</a></li>
        <li class="menu-mobile__item"><a href="/partnership.html">Партнеры</a></li>
        <li class="menu-mobile__item"><a href="/library.html">Библиотека</a></li>
        <li class="menu-mobile__item"><a href="/video.html">Видео</a></li>
      </ul>
      <ul class="menu-mobile__archive">
        <div class="menu-mobile__archive-title">Архив</div>
        <li class="menu-mobile__item menu-mobile__item--horizontal"><a href="#">2016</a></li>
        <li class="menu-mobile__item menu-mobile__item--horizontal"><a href="#">2015</a></li>
        <li class="menu-mobile__item menu-mobile__item--horizontal"><a href="#">2014</a></li>
        <li class="menu-mobile__item menu-mobile__item--horizontal"><a href="#">2013</a></li>
      </ul>
      <div class="menu-mobile__social">
        <div class="menu-mobile__social-item menu-mobile__social-item--ig"></div>
        <div class="menu-mobile__social-item menu-mobile__social-item--yt"></div>
        <div class="menu-mobile__social-item menu-mobile__social-item--vk"></div>
        <div class="menu-mobile__social-item menu-mobile__social-item--fb"></div>
      </div>
    </div>
  </nav>
  <main class="mainer">
    <section class="page">
      <div class="page__content"><h2 class="page-title">Календарь событий 2017–2018</h2>
        <div class="calendar__month"><h3 class="calendar__month-title">Сентябрь 2017</h3>
          <div class="calendar__event">
            <div class="calendar__event-title">Marketing Real Estate Forum</div>
            <div class="calendar__event-details">
              <div class="calendar__event-date">04 Сентября</div>
              <div class="calendar__event-address">Романов Двор, бизнес-центр, Романов пер., 4, строение 1, Москва,
                Россия, 101000
              </div>
            </div>
            <div class="calendar__event-description">Форум Ассоциации профессионалов рынка недвижимости REPA в
              преддверии премии в области маркетинга и рекламы WOW Awards
            </div>
            <div class="calendar__event-organizer"><b>Организатор:</b> Ассоциация профессионалов рынка недвижимости REPA
            </div>
          </div>
          <div class="calendar__event">
            <div class="calendar__event-title">ВЭФ-2017</div>
            <div class="calendar__event-details">
              <div class="calendar__event-date">06–07 Сентября</div>
              <div class="calendar__event-address">Владивосток</div>
            </div>
            <div class="calendar__event-description">Восточный экономический форум</div>
            <div class="calendar__event-organizer"><b>Организатор:</b> Фонд «Росконгресс»</div>
          </div>
          <div class="calendar__event">
            <div class="calendar__event-title">DLD-2017</div>
            <div class="calendar__event-details">
              <div class="calendar__event-date">06–07 Сентября</div>
              <div class="calendar__event-address">Тель Авив</div>
            </div>
            <div class="calendar__event-description">Tel Aviv Innovation Festival</div>
          </div>
          <div class="calendar__event">
            <div class="calendar__event-title">WOW AWARDS</div>
            <div class="calendar__event-details">
              <div class="calendar__event-date">07 Сентября</div>
              <div class="calendar__event-address">Нижняя Красносельская ул., 35, Москва, Россия, 105066</div>
            </div>
            <div class="calendar__event-description">Церемония награждения премии в сфере недвижимости WOW AWARDS</div>
            <div class="calendar__event-organizer"><b>Организатор:</b> Ассоциация профессионалов рынка недвижимости REPA
            </div>
          </div>
        </div>
        <div class="calendar__month" id="month_2_2018"><h3 class="calendar__month-title">Октябрь 2017</h3>
          <div class="calendar__event">
            <div class="calendar__event-title">100+ FORUM RUSSIA</div>
            <div class="calendar__event-details">
              <div class="calendar__event-date">04–06 Октября</div>
              <div class="calendar__event-address">Экспо-бульвар (Екатеринбург)</div>
            </div>
            <div class="calendar__event-description">Международный форум и выставка высотного и уникального
              строительства
            </div>
          </div>
          <div class="calendar__event">
            <div class="calendar__event-title">EXPO REAL</div>
            <div class="calendar__event-details">
              <div class="calendar__event-date">04–06 Октября</div>
              <div class="calendar__event-address">Мюнхен</div>
            </div>
            <div class="calendar__event-description">Europe's largest real estate and investment trade fair</div>
          </div>
          <div class="calendar__event">
            <div class="calendar__event-title">АТЛАНТЫ</div>
            <div class="calendar__event-details">
              <div class="calendar__event-date">05–06 Октября</div>
              <div class="calendar__event-address">Crocus City Hall</div>
            </div>
            <div class="calendar__event-description">Российский бизнес-форум</div>
            <div class="calendar__event-organizer"><b>Организатор:</b> WTH Group</div>
          </div>
        </div>
      </div>
    </section>
  </main>
  <footer class="footer">
    <div class="footer__social">
      <div class="footer__social-content"><a class="footer__social-item" href="#"><img
        class="footer__social-icon footer__social-icon--fb" src="assets/img/footer/fb.svg"></a><a
        class="footer__social-item" href="#"><img class="footer__social-icon footer__social-icon--vk"
                                                  src="assets/img/footer/vk.svg"></a><a class="footer__social-item"
                                                                                        href="#"><img
        class="footer__social-icon footer__social-icon--yt" src="assets/img/footer/yt.svg"></a><a
        class="footer__social-item" href="#"><img class="footer__social-icon footer__social-icon--ig"
                                                  src="assets/img/footer/ig.svg"></a></div>
    </div>
    <div class="footer__content">
      <div class="footer__row"><img class="footer__logo" src="assets/img/logo-simple.png" width="100%" height="100%"
                                    title="Moscow Urban Forum">
        <div class="footer__info"><h1 class="footer__info-title">MOSCOW URBAN FORUM — крупнейший международный конгресс,
          посвященный вызовам развития глобальных мегаполисов. Форум проводится ежегодно с 2011 года.</h1><span
          class="footer__info-text">MUF объединяет представителей городских администраций России и мира, архитекторов, градостроителей, девелоперов, руководителей финансовых компаний, инвесторов, технологические стартапы, представителей медиа  и горожан.</span>
        </div>
      </div>
      <div class="footer__row">
        <div class="footer__block"><h2 class="footer__block-title">Разделы</h2><a class="footer__nav-item" href="#">Форум
          2017</a><a class="footer__nav-item" href="#">Видео выступлений</a><a class="footer__nav-item" href="#">Календарь</a><a
          class="footer__nav-item" href="#">Новости</a></div>
        <div class="footer__block"><h2 class="footer__block-title">Архив</h2><a class="footer__nav-item"
                                                                                href="#">2012</a><a
          class="footer__nav-item" href="#">2013</a><a class="footer__nav-item" href="#">2014</a><a
          class="footer__nav-item" href="#">2016</a></div>
        <div class="footer__block"><h2 class="footer__block-title">Контакты</h2>
          <div class="footer__phone">8 499 641-15-82</div>
          <a class="footer__link" href="mailto:welcome@mosurbanforum.ru" target="_blank">welcome@mosurbanforum.ru</a>
          <div class="footer__decorated-block"><h2 class="footer__decorated-block-title">Адрес офиса</h2><span
            class="footer__decorated-block-content">ВДНХ, домовладение 119, павильон № 75, проспект Мира, Москва, 129223</span>
          </div>
        </div>
        <div class="footer__block"><h2 class="footer__block-title">По вопросам партнерста и спонcорства</h2><span>8 499 641-15-82 | <a
          class="footer__link" href="mailto:partner@mosurbanforum.ru">partner@mosurbanforum.ru</a></span>
          <div class="footer__people">
            <div class="footer__decorated-block"><h2 class="footer__decorated-block-title">Арина Дробина</h2><span
              class="footer__decorated-block-content">директор по маркетингу</span></div>
            <div class="footer__decorated-block"><h2 class="footer__decorated-block-title">Наталья Дубовик</h2><span
              class="footer__decorated-block-content">менеджер по работе с партнерами</span></div>
          </div>
          <div class="footer__tender"><strong>Стать подрядчиком:&nbsp;</strong><a class="footer__link"
                                                                                  href="mailto:tenders@mosurbanforum.ru">tenders@mosurbanforum.ru</a>
          </div>
        </div>
      </div>
      <div class="footer__copyright">© Moscow Urban Forum, 2017</div>
    </div>
  </footer>
  <footer class="footer__mob">
    <div class="footer__mob-inner">
      <div class="footer__mob-section"><h3 class="footer__mob-section-title">Разделы</h3>
        <nav class="footer__mob-nav"><a class="footer__mob-nav-item" href="#">Форум 2017</a><a
          class="footer__mob-nav-item" href="#">Новости</a><a class="footer__mob-nav-item" href="#">Календарь</a><a
          class="footer__mob-nav-item" href="#">Фестиваль</a><a class="footer__mob-nav-item" href="#">Премия</a><a
          class="footer__mob-nav-item" href="#">Партнеры</a><a class="footer__mob-nav-item" href="#">Библиотека</a><a
          class="footer__mob-nav-item" href="#">Видео</a></nav>
      </div>
      <div class="footer__mob-section"><h3 class="footer__mob-section-title">Архив</h3>
        <nav class="footer__mob-nav"><a class="footer__mob-nav-item" href="#">2016</a><a class="footer__mob-nav-item"
                                                                                         href="#">2015</a><a
          class="footer__mob-nav-item" href="#">2014</a><a class="footer__mob-nav-item" href="#">2013</a></nav>
      </div>
      <div class="footer__mob-section footer__mob-section--small-indent"><h3 class="footer__mob-section-title">
        Контакты</h3><span class="footer__mob-section-text">8 499 641-15-82<br><a class="footer__mob-link"
                                                                                  href="mailto:welcome@mosurbanforum.ru"
                                                                                  target="_blank">welcome@mosurbanforum.ru</a></span>
      </div>
      <div class="footer__mob-section footer__mob-section--small-indent"><h4
        class="footer__mob-section-title footer__mob-section-title--secondary">Адрес офиса</h4><span
        class="footer__mob-section-text">ВДНХ, домовладение 119, павильон № 75,<br>проспект Мира, Москва, 129223</span>
      </div>
      <div class="footer__mob-section footer__mob-section--small-indent"><h4
        class="footer__mob-section-title footer__mob-section-title--secondary">Стать подрядчиком</h4><span
        class="footer__mob-section-text"><a class="footer__mob-link" href="mailto:tenders@mosurbanforum.ru"
                                            target="_blank">tenders@mosurbanforum.ru</a></span></div>
      <div class="footer__mob-section footer__mob-section--marked footer__mob-section--small-indent"><h3
        class="footer__mob-section-title">По вопросам партнерства и спонсорства</h3><span
        class="footer__mob-section-text">8 499 641-15-82<br><a class="footer__mob-link"
                                                               href="mailto:partner@mosurbanforum.ru" target="_blank">partner@mosurbanforum.ru</a></span>
      </div>
      <div class="footer__mob-section footer__mob-section--small-indent"><h4
        class="footer__mob-section-title footer__mob-section-title--secondary">Арина Дробина</h4><span
        class="footer__mob-section-text">директор по маркетингу</span></div>
      <div class="footer__mob-section"><h4 class="footer__mob-section-title footer__mob-section-title--secondary">
        Наталья Дубовик</h4><span class="footer__mob-section-text">менеджер по работе с партнерами</span></div>
      <div class="footer__mob-copyright">© Moscow Urban Forum, 2017</div>
    </div>
  </footer>
</div>
<script src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script src="http://vk.com/js/api/xd_connection.js?2&quot;"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
<script src="https://unpkg.com/micromodal/dist/micromodal.min.js"></script>
<script src="scripts/main.js"></script>
</body>
</html>

app/calendar.pug
extends pug/layouts/default

block content
  main.mainer
    section.page
      .page__content
        h2.page-title Календарь событий 2017–2018
        .calendar__month
          h3.calendar__month-title Сентябрь 2017
          .calendar__event
            .calendar__event-title Marketing Real Estate Forum
            .calendar__event-details
              .calendar__event-date 04 Сентября
              .calendar__event-address Романов Двор, бизнес-центр, Романов пер., 4, строение 1, Москва, Россия, 101000
            .calendar__event-description.
              Форум Ассоциации профессионалов рынка недвижимости REPA в преддверии премии
              в области маркетинга и рекламы WOW Awards
            .calendar__event-organizer <b>Организатор:</b> Ассоциация профессионалов рынка недвижимости REPA
          .calendar__event
            .calendar__event-title ВЭФ-2017
            .calendar__event-details
              .calendar__event-date 06–07 Сентября
              .calendar__event-address Владивосток
            .calendar__event-description Восточный экономический форум
            .calendar__event-organizer <b>Организатор:</b> Фонд «Росконгресс»
          .calendar__event
            .calendar__event-title DLD-2017
            .calendar__event-details
              .calendar__event-date 06–07 Сентября
              .calendar__event-address Тель Авив
            .calendar__event-description Tel Aviv Innovation Festival
          .calendar__event
            .calendar__event-title WOW AWARDS
            .calendar__event-details
              .calendar__event-date 07 Сентября
              .calendar__event-address Нижняя Красносельская ул., 35, Москва, Россия, 105066
            .calendar__event-description Церемония награждения премии в сфере недвижимости WOW AWARDS
            .calendar__event-organizer <b>Организатор:</b> Ассоциация профессионалов рынка недвижимости REPA

        .calendar__month#month_2_2018
          h3.calendar__month-title Октябрь 2017
          .calendar__event
            .calendar__event-title 100+ FORUM RUSSIA
            .calendar__event-details
              .calendar__event-date 04–06 Октября
              .calendar__event-address Экспо-бульвар (Екатеринбург)
            .calendar__event-description.
              Международный форум и выставка высотного и уникального строительства
          .calendar__event
            .calendar__event-title EXPO REAL
            .calendar__event-details
              .calendar__event-date 04–06 Октября
              .calendar__event-address Мюнхен
            .calendar__event-description Europe's largest real estate and investment trade fair
          .calendar__event
            .calendar__event-title АТЛАНТЫ
            .calendar__event-details
              .calendar__event-date 05–06 Октября
              .calendar__event-address Crocus City Hall
            .calendar__event-description Российский бизнес-форум
            .calendar__event-organizer <b>Организатор:</b> WTH Group
