app/event-page.pug
extends pug/layouts/headless

include pug/blocks/header-secondary

block content
  main.mainer
    +header-secondary('Расписание', '/schedule.html')
    section.page
      .modal#speaker-1
        .modal__overlay(data-micromodal-close tabindex="-1")
          .modal__container
            .modal__content
              .modal__close(data-micromodal-close)
              img.event__modal-img(src='http://mosurbanforum.com/static/archive/2018/speakers/bruce_katz.jpg')
              .event__modal-info
                .event__modal-name Надир  Абдессемед
                .event__modal-position Консультант, Transsolar
                .event__modal-company Berklee College of Music
              .event__modal-desc
                p Брюс Кац (совместно с Джереми Новаком) основал компанию New Localism Advisors. Её миссия – помочь городам создавать, финансировать и внедрять инновационные решения для всестороннего и устойчивого развития. Кац постоянно консультирует лидеров мирового и национального уровня по вопросам реализации общественных реформ и частных инноваций, которые направлены на улучшение городской среды.
                p Брюс Кац является соавтором книг «The New Localism: How Cities Can Thrive in the Age of Populism» (Brookings Institution Press, 2018) и «The Metropolitan Revolution: How Cities and Metros are Fixing Our Broken Politics and Fragile Economy» (Brookings Institution Press, 2013). Обе книги посвящены росту влияния метрополий и городских сетей на мировые проблемы.
                p С января 2016 по март 2018 Кац был президентом программы Centennial Scholar в Брукингском институте. Под его руководством основное внимание уделялось вопросам глобальной урбанизации. До перехода на этот пост Брюс Кац занимал должность вице-президента Брукингского института и являлся учредителем программы Metropolitan Policy.
              a(href='google.com') google.com

      .modal#speaker-2
        .modal__overlay(data-micromodal-close tabindex="-1")
          .modal__container
            .modal__content
              .modal__close(data-micromodal-close)
              img.event__modal-img(src='http://mosurbanforum.com/static/archive/2018/speakers/bruce_katz.jpg')
              .event__modal-info
                .event__modal-name Надир  Абдессемед
                .event__modal-position Консультант, Transsolar
                .event__modal-company Berklee College of Music
              .event__modal-desc
                p Брюс Кац (совместно с Джереми Новаком) основал компанию New Localism Advisors. Её миссия – помочь городам создавать, финансировать и внедрять инновационные решения для всестороннего и устойчивого развития. Кац постоянно консультирует лидеров мирового и национального уровня по вопросам реализации общественных реформ и частных инноваций, которые направлены на улучшение городской среды.
                p Брюс Кац является соавтором книг «The New Localism: How Cities Can Thrive in the Age of Populism» (Brookings Institution Press, 2018) и «The Metropolitan Revolution: How Cities and Metros are Fixing Our Broken Politics and Fragile Economy» (Brookings Institution Press, 2013). Обе книги посвящены росту влияния метрополий и городских сетей на мировые проблемы.
                p С января 2016 по март 2018 Кац был президентом программы Centennial Scholar в Брукингском институте. Под его руководством основное внимание уделялось вопросам глобальной урбанизации. До перехода на этот пост Брюс Кац занимал должность вице-президента Брукингского института и являлся учредителем программы Metropolitan Policy.

      .modal#speaker-3
        .modal__overlay(data-micromodal-close tabindex="-1")
          .modal__container
            .modal__content
              .modal__close(data-micromodal-close)
              img.event__modal-img(src='http://mosurbanforum.com/static/archive/2018/speakers/bruce_katz.jpg')
              .event__modal-info
                .event__modal-name Надир  Абдессемед
                .event__modal-position Консультант, Transsolar
                .event__modal-company Berklee College of Music
              .event__modal-desc
                p Брюс Кац (совместно с Джереми Новаком) основал компанию New Localism Advisors. Её миссия – помочь городам создавать, финансировать и внедрять инновационные решения для всестороннего и устойчивого развития. Кац постоянно консультирует лидеров мирового и национального уровня по вопросам реализации общественных реформ и частных инноваций, которые направлены на улучшение городской среды.
                p Брюс Кац является соавтором книг «The New Localism: How Cities Can Thrive in the Age of Populism» (Brookings Institution Press, 2018) и «The Metropolitan Revolution: How Cities and Metros are Fixing Our Broken Politics and Fragile Economy» (Brookings Institution Press, 2013). Обе книги посвящены росту влияния метрополий и городских сетей на мировые проблемы.
                p С января 2016 по март 2018 Кац был президентом программы Centennial Scholar в Брукингском институте. Под его руководством основное внимание уделялось вопросам глобальной урбанизации. До перехода на этот пост Брюс Кац занимал должность вице-президента Брукингского института и являлся учредителем программы Metropolitan Policy.

      .modal#speaker-4
        .modal__overlay(data-micromodal-close tabindex="-1")
          .modal__container
            .modal__content
              .modal__close(data-micromodal-close)
              img.event__modal-img(src='http://mosurbanforum.com/static/archive/2018/speakers/bruce_katz.jpg')
              .event__modal-info
                .event__modal-name Надир  Абдессемед
                .event__modal-position Консультант, Transsolar
                .event__modal-company Berklee College of Music
              .event__modal-desc
                p Брюс Кац (совместно с Джереми Новаком) основал компанию New Localism Advisors. Её миссия – помочь городам создавать, финансировать и внедрять инновационные решения для всестороннего и устойчивого развития. Кац постоянно консультирует лидеров мирового и национального уровня по вопросам реализации общественных реформ и частных инноваций, которые направлены на улучшение городской среды.
                p Брюс Кац является соавтором книг «The New Localism: How Cities Can Thrive in the Age of Populism» (Brookings Institution Press, 2018) и «The Metropolitan Revolution: How Cities and Metros are Fixing Our Broken Politics and Fragile Economy» (Brookings Institution Press, 2013). Обе книги посвящены росту влияния метрополий и городских сетей на мировые проблемы.
                p С января 2016 по март 2018 Кац был президентом программы Centennial Scholar в Брукингском институте. Под его руководством основное внимание уделялось вопросам глобальной урбанизации. До перехода на этот пост Брюс Кац занимал должность вице-президента Брукингского института и являлся учредителем программы Metropolitan Policy.

      .modal#speaker-5
        .modal__overlay(data-micromodal-close tabindex="-1")
          .modal__container
            .modal__content
              .modal__close(data-micromodal-close)
              img.event__modal-img(src='http://mosurbanforum.com/static/archive/2018/speakers/bruce_katz.jpg')
              .event__modal-info
                .event__modal-name Надир  Абдессемед
                .event__modal-position Консультант, Transsolar
                .event__modal-company Berklee College of Music
              .event__modal-desc
                p Брюс Кац (совместно с Джереми Новаком) основал компанию New Localism Advisors. Её миссия – помочь городам создавать, финансировать и внедрять инновационные решения для всестороннего и устойчивого развития. Кац постоянно консультирует лидеров мирового и национального уровня по вопросам реализации общественных реформ и частных инноваций, которые направлены на улучшение городской среды.
                p Брюс Кац является соавтором книг «The New Localism: How Cities Can Thrive in the Age of Populism» (Brookings Institution Press, 2018) и «The Metropolitan Revolution: How Cities and Metros are Fixing Our Broken Politics and Fragile Economy» (Brookings Institution Press, 2013). Обе книги посвящены росту влияния метрополий и городских сетей на мировые проблемы.
                p С января 2016 по март 2018 Кац был президентом программы Centennial Scholar в Брукингском институте. Под его руководством основное внимание уделялось вопросам глобальной урбанизации. До перехода на этот пост Брюс Кац занимал должность вице-президента Брукингского института и являлся учредителем программы Metropolitan Policy.

      .page__content
        p.event__date День 1 • 13:15-14:30 • Зал 2
        h1.main__title Новое массовое жилье.<br/>Мировые практики масштабного редевелопмента
        p.paragraph.
          Предметы интерьера шоу-рума по программе реновации жилья, который работал на ВДНХ в рамках Московского урбанистического форума в июле 2017 года, АНО “МУФ” передала благотворительному фонду «София». Это мебель, бытовая техника, предметы интерьера.
          Их раздадут приютам и многодетным семьям. Председатель отдела социального служения и церковной благотворительности Тверской епархии иеромонах Амвросий рассказал, что в настоящее время
          в базе данных есть информация
          о 500 людях, нуждающихся
          в помощи.

        .event__speakers
          .event__speakers-col
            h2.event__speakers-col-title Модератор
            .event__speakers-item(data-micromodal-trigger="speaker-1")
              img.event__speakers-item-img(src='http://mosurbanforum.com/static/archive/2018/speakers/bruce_katz.jpg')
              .event__speakers-item-block
                .event__speakers-item-name Bruce Katz
                .event__speakers-item-position Associate professor
                .event__speakers-item-company Berklee College of Music
                .event__speakers-item-desc An American musician, playing piano, organ and bass guitar
          .event__speakers-col
            h2.event__speakers-col-title Ключевые спикеры
            .event__speakers-list
              .event__speakers-item(data-micromodal-trigger="speaker-2")
                img.event__speakers-item-img(src='http://mosurbanforum.com/static/archive/2018/speakers/bruce_katz.jpg')
                .event__speakers-item-block
                  .event__speakers-item-name Bruce Katz
                  .event__speakers-item-position Associate professor
                  .event__speakers-item-company Berklee College of Music
                  .event__speakers-item-desc An American musician, playing piano, organ and bass guitar
              .event__speakers-item(data-micromodal-trigger="speaker-3")
                img.event__speakers-item-img(src='http://mosurbanforum.com/static/archive/2018/speakers/bruce_katz.jpg')
                .event__speakers-item-block
                  .event__speakers-item-name Bruce Katz
                  .event__speakers-item-position Associate professor
                  .event__speakers-item-company Berklee College of Music
                  .event__speakers-item-desc An American musician, playing piano, organ and bass guitar
              .event__speakers-item(data-micromodal-trigger="speaker-4")
                img.event__speakers-item-img(src='http://mosurbanforum.com/static/archive/2018/speakers/bruce_katz.jpg')
                .event__speakers-item-block
                  .event__speakers-item-name Bruce Katz
                  .event__speakers-item-position Associate professor
                  .event__speakers-item-company Berklee College of Music
                  .event__speakers-item-desc An American musician, playing piano, organ and bass guitar
              .event__speakers-item(data-micromodal-trigger="speaker-5")
                img.event__speakers-item-img(src='http://mosurbanforum.com/static/archive/2018/speakers/bruce_katz.jpg')
                .event__speakers-item-block
                  .event__speakers-item-name Bruce Katz
                  .event__speakers-item-position Associate professor
                  .event__speakers-item-company Berklee College of Music
                  .event__speakers-item-desc An American musician, playing piano, organ and bass guitar

dist/event-page.html
<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="utf-8">
  <meta name="description" content="">
  <meta name="format-detection" content="telephone=no">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>Moscow Urban Forum</title>
  <link rel="apple-touch-icon-precomposed" sizes="152x152" href="apple-touch-icon-152x152.png">
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="apple-touch-icon-144x144.png">
  <link rel="icon" type="image/png" href="favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="favicon-16x16.png" sizes="16x16">
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="styles/main.css">
</head>
<body ontouchstart><!--[if lt IE 10]><p class="browserupgrade">You are using an <strong>outdated</strong> browser.
  Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p><![endif]-->
<div class="container container--headless">
  <header class="header"><a class="header__logo" href="/"><img src="./assets/img/logo.svg"
                                                               srcset="./assets/img/logo.svg 2x, ./assets/img/logo.svg 3x"></a>
    <nav class="menu">
      <ul class="menu__row">
        <li class="menu__item"><a href="#main-history">Форум 2017</a></li>
        <li class="menu__item"><a href="/news-list.html">Новости</a></li>
        <li class="menu__item"><a href="/calendar.html#month_2_2018">Календарь</a></li>
        <li class="menu__item"><a href="/fest.html">Фестиваль</a></li>
        <li class="menu__item"><a href="#">Премия</a></li>
      </ul>
      <ul class="menu__row">
        <li class="menu__item"><a href="/partnership.html">Партнеры</a></li>
        <li class="menu__item"><a href="/library.html">Библиотека</a></li>
        <li class="menu__item"><a href="/video.html">Видео</a></li>
        <li class="menu__item menu__item--dropdown">
          <div>Архив</div>
          <ul class="menu__dropdown">
            <li class="menu__item"><a href="/">Форум 2016</a></li>
            <li class="menu__item"><a href="/">Форум 2015</a></li>
            <li class="menu__item"><a href="/">Форум 2014</a></li>
          </ul>
        </li>
      </ul>
    </nav>
    <div class="header__registration"><a class="header__registration-btn" href="#">Регистрация</a></div>
    <a class="header__language-link" href="#">en</a>
    <div class="header__nav-toggle">
      <div class="hamburger hamburger--squeeze">
        <div class="hamburger-box">
          <div class="hamburger-inner"></div>
        </div>
      </div>
    </div>
  </header>
  <nav class="menu-mobile">
    <div class="menu-mobile__inner">
      <ul class="menu-mobile__list">
        <li class="menu-mobile__item"><a href="#">Форум 2017</a></li>
        <li class="menu-mobile__item"><a href="/news-list.html">Новости</a></li>
        <li class="menu-mobile__item"><a href="/calendar.html">Календарь</a></li>
        <li class="menu-mobile__item"><a href="/fest.html">Фестиваль</a></li>
        <li class="menu-mobile__item"><a href="#">Премия</a></li>
        <li class="menu-mobile__item"><a href="/partnership.html">Партнеры</a></li>
        <li class="menu-mobile__item"><a href="/library.html">Библиотека</a></li>
        <li class="menu-mobile__item"><a href="/video.html">Видео</a></li>
      </ul>
      <ul class="menu-mobile__archive">
        <div class="menu-mobile__archive-title">Архив</div>
        <li class="menu-mobile__item menu-mobile__item--horizontal"><a href="#">2016</a></li>
        <li class="menu-mobile__item menu-mobile__item--horizontal"><a href="#">2015</a></li>
        <li class="menu-mobile__item menu-mobile__item--horizontal"><a href="#">2014</a></li>
        <li class="menu-mobile__item menu-mobile__item--horizontal"><a href="#">2013</a></li>
      </ul>
      <div class="menu-mobile__social">
        <div class="menu-mobile__social-item menu-mobile__social-item--ig"></div>
        <div class="menu-mobile__social-item menu-mobile__social-item--yt"></div>
        <div class="menu-mobile__social-item menu-mobile__social-item--vk"></div>
        <div class="menu-mobile__social-item menu-mobile__social-item--fb"></div>
      </div>
    </div>
  </nav>
  <main class="mainer">
    <div class="header__secondary"><a class="header__secondary-link" href="/schedule.html">Расписание</a></div>
    <section class="page">
      <div class="modal" id="speaker-1">
        <div class="modal__overlay" data-micromodal-close tabindex="-1">
          <div class="modal__container">
            <div class="modal__content">
              <div class="modal__close" data-micromodal-close></div>
              <img class="event__modal-img" src="http://mosurbanforum.com/static/archive/2018/speakers/bruce_katz.jpg">
              <div class="event__modal-info">
                <div class="event__modal-name">Надир Абдессемед</div>
                <div class="event__modal-position">Консультант, Transsolar</div>
                <div class="event__modal-company">Berklee College of Music</div>
              </div>
              <div class="event__modal-desc"><p>Брюс Кац (совместно с Джереми Новаком) основал компанию New Localism
                Advisors. Её миссия – помочь городам создавать, финансировать и внедрять инновационные решения для
                всестороннего и устойчивого развития. Кац постоянно консультирует лидеров мирового и национального
                уровня по вопросам реализации общественных реформ и частных инноваций, которые направлены на улучшение
                городской среды.</p>
                <p>Брюс Кац является соавтором книг «The New Localism: How Cities Can Thrive in the Age of Populism»
                  (Brookings Institution Press, 2018) и «The Metropolitan Revolution: How Cities and Metros are Fixing
                  Our Broken Politics and Fragile Economy» (Brookings Institution Press, 2013). Обе книги посвящены
                  росту влияния метрополий и городских сетей на мировые проблемы.</p>
                <p>С января 2016 по март 2018 Кац был президентом программы Centennial Scholar в Брукингском институте.
                  Под его руководством основное внимание уделялось вопросам глобальной урбанизации. До перехода на этот
                  пост Брюс Кац занимал должность вице-президента Брукингского института и являлся учредителем программы
                  Metropolitan Policy.</p></div>
              <a href="google.com">google.com</a></div>
          </div>
        </div>
      </div>
      <div class="modal" id="speaker-2">
        <div class="modal__overlay" data-micromodal-close tabindex="-1">
          <div class="modal__container">
            <div class="modal__content">
              <div class="modal__close" data-micromodal-close></div>
              <img class="event__modal-img" src="http://mosurbanforum.com/static/archive/2018/speakers/bruce_katz.jpg">
              <div class="event__modal-info">
                <div class="event__modal-name">Надир Абдессемед</div>
                <div class="event__modal-position">Консультант, Transsolar</div>
                <div class="event__modal-company">Berklee College of Music</div>
              </div>
              <div class="event__modal-desc"><p>Брюс Кац (совместно с Джереми Новаком) основал компанию New Localism
                Advisors. Её миссия – помочь городам создавать, финансировать и внедрять инновационные решения для
                всестороннего и устойчивого развития. Кац постоянно консультирует лидеров мирового и национального
                уровня по вопросам реализации общественных реформ и частных инноваций, которые направлены на улучшение
                городской среды.</p>
                <p>Брюс Кац является соавтором книг «The New Localism: How Cities Can Thrive in the Age of Populism»
                  (Brookings Institution Press, 2018) и «The Metropolitan Revolution: How Cities and Metros are Fixing
                  Our Broken Politics and Fragile Economy» (Brookings Institution Press, 2013). Обе книги посвящены
                  росту влияния метрополий и городских сетей на мировые проблемы.</p>
                <p>С января 2016 по март 2018 Кац был президентом программы Centennial Scholar в Брукингском институте.
                  Под его руководством основное внимание уделялось вопросам глобальной урбанизации. До перехода на этот
                  пост Брюс Кац занимал должность вице-президента Брукингского института и являлся учредителем программы
                  Metropolitan Policy.</p></div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal" id="speaker-3">
        <div class="modal__overlay" data-micromodal-close tabindex="-1">
          <div class="modal__container">
            <div class="modal__content">
              <div class="modal__close" data-micromodal-close></div>
              <img class="event__modal-img" src="http://mosurbanforum.com/static/archive/2018/speakers/bruce_katz.jpg">
              <div class="event__modal-info">
                <div class="event__modal-name">Надир Абдессемед</div>
                <div class="event__modal-position">Консультант, Transsolar</div>
                <div class="event__modal-company">Berklee College of Music</div>
              </div>
              <div class="event__modal-desc"><p>Брюс Кац (совместно с Джереми Новаком) основал компанию New Localism
                Advisors. Её миссия – помочь городам создавать, финансировать и внедрять инновационные решения для
                всестороннего и устойчивого развития. Кац постоянно консультирует лидеров мирового и национального
                уровня по вопросам реализации общественных реформ и частных инноваций, которые направлены на улучшение
                городской среды.</p>
                <p>Брюс Кац является соавтором книг «The New Localism: How Cities Can Thrive in the Age of Populism»
                  (Brookings Institution Press, 2018) и «The Metropolitan Revolution: How Cities and Metros are Fixing
                  Our Broken Politics and Fragile Economy» (Brookings Institution Press, 2013). Обе книги посвящены
                  росту влияния метрополий и городских сетей на мировые проблемы.</p>
                <p>С января 2016 по март 2018 Кац был президентом программы Centennial Scholar в Брукингском институте.
                  Под его руководством основное внимание уделялось вопросам глобальной урбанизации. До перехода на этот
                  пост Брюс Кац занимал должность вице-президента Брукингского института и являлся учредителем программы
                  Metropolitan Policy.</p></div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal" id="speaker-4">
        <div class="modal__overlay" data-micromodal-close tabindex="-1">
          <div class="modal__container">
            <div class="modal__content">
              <div class="modal__close" data-micromodal-close></div>
              <img class="event__modal-img" src="http://mosurbanforum.com/static/archive/2018/speakers/bruce_katz.jpg">
              <div class="event__modal-info">
                <div class="event__modal-name">Надир Абдессемед</div>
                <div class="event__modal-position">Консультант, Transsolar</div>
                <div class="event__modal-company">Berklee College of Music</div>
              </div>
              <div class="event__modal-desc"><p>Брюс Кац (совместно с Джереми Новаком) основал компанию New Localism
                Advisors. Её миссия – помочь городам создавать, финансировать и внедрять инновационные решения для
                всестороннего и устойчивого развития. Кац постоянно консультирует лидеров мирового и национального
                уровня по вопросам реализации общественных реформ и частных инноваций, которые направлены на улучшение
                городской среды.</p>
                <p>Брюс Кац является соавтором книг «The New Localism: How Cities Can Thrive in the Age of Populism»
                  (Brookings Institution Press, 2018) и «The Metropolitan Revolution: How Cities and Metros are Fixing
                  Our Broken Politics and Fragile Economy» (Brookings Institution Press, 2013). Обе книги посвящены
                  росту влияния метрополий и городских сетей на мировые проблемы.</p>
                <p>С января 2016 по март 2018 Кац был президентом программы Centennial Scholar в Брукингском институте.
                  Под его руководством основное внимание уделялось вопросам глобальной урбанизации. До перехода на этот
                  пост Брюс Кац занимал должность вице-президента Брукингского института и являлся учредителем программы
                  Metropolitan Policy.</p></div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal" id="speaker-5">
        <div class="modal__overlay" data-micromodal-close tabindex="-1">
          <div class="modal__container">
            <div class="modal__content">
              <div class="modal__close" data-micromodal-close></div>
              <img class="event__modal-img" src="http://mosurbanforum.com/static/archive/2018/speakers/bruce_katz.jpg">
              <div class="event__modal-info">
                <div class="event__modal-name">Надир Абдессемед</div>
                <div class="event__modal-position">Консультант, Transsolar</div>
                <div class="event__modal-company">Berklee College of Music</div>
              </div>
              <div class="event__modal-desc"><p>Брюс Кац (совместно с Джереми Новаком) основал компанию New Localism
                Advisors. Её миссия – помочь городам создавать, финансировать и внедрять инновационные решения для
                всестороннего и устойчивого развития. Кац постоянно консультирует лидеров мирового и национального
                уровня по вопросам реализации общественных реформ и частных инноваций, которые направлены на улучшение
                городской среды.</p>
                <p>Брюс Кац является соавтором книг «The New Localism: How Cities Can Thrive in the Age of Populism»
                  (Brookings Institution Press, 2018) и «The Metropolitan Revolution: How Cities and Metros are Fixing
                  Our Broken Politics and Fragile Economy» (Brookings Institution Press, 2013). Обе книги посвящены
                  росту влияния метрополий и городских сетей на мировые проблемы.</p>
                <p>С января 2016 по март 2018 Кац был президентом программы Centennial Scholar в Брукингском институте.
                  Под его руководством основное внимание уделялось вопросам глобальной урбанизации. До перехода на этот
                  пост Брюс Кац занимал должность вице-президента Брукингского института и являлся учредителем программы
                  Metropolitan Policy.</p></div>
            </div>
          </div>
        </div>
      </div>
      <div class="page__content"><p class="event__date">День 1 • 13:15-14:30 • Зал 2</p>
        <h1 class="main__title">Новое массовое жилье.<br>Мировые практики масштабного редевелопмента</h1>
        <p class="paragraph">Предметы интерьера шоу-рума по программе реновации жилья, который работал на ВДНХ в рамках
          Московского урбанистического форума в июле 2017 года, АНО “МУФ” передала благотворительному фонду «София». Это
          мебель, бытовая техника, предметы интерьера. Их раздадут приютам и многодетным семьям. Председатель отдела
          социального служения и церковной благотворительности Тверской епархии иеромонах Амвросий рассказал, что в
          настоящее время в базе данных есть информация о 500 людях, нуждающихся в помощи.</p>
        <div class="event__speakers">
          <div class="event__speakers-col"><h2 class="event__speakers-col-title">Модератор</h2>
            <div class="event__speakers-item" data-micromodal-trigger="speaker-1"><img class="event__speakers-item-img"
                                                                                       src="http://mosurbanforum.com/static/archive/2018/speakers/bruce_katz.jpg">
              <div class="event__speakers-item-block">
                <div class="event__speakers-item-name">Bruce Katz</div>
                <div class="event__speakers-item-position">Associate professor</div>
                <div class="event__speakers-item-company">Berklee College of Music</div>
                <div class="event__speakers-item-desc">An American musician, playing piano, organ and bass guitar</div>
              </div>
            </div>
          </div>
          <div class="event__speakers-col"><h2 class="event__speakers-col-title">Ключевые спикеры</h2>
            <div class="event__speakers-list">
              <div class="event__speakers-item" data-micromodal-trigger="speaker-2"><img
                class="event__speakers-item-img"
                src="http://mosurbanforum.com/static/archive/2018/speakers/bruce_katz.jpg">
                <div class="event__speakers-item-block">
                  <div class="event__speakers-item-name">Bruce Katz</div>
                  <div class="event__speakers-item-position">Associate professor</div>
                  <div class="event__speakers-item-company">Berklee College of Music</div>
                  <div class="event__speakers-item-desc">An American musician, playing piano, organ and bass guitar
                  </div>
                </div>
              </div>
              <div class="event__speakers-item" data-micromodal-trigger="speaker-3"><img
                class="event__speakers-item-img"
                src="http://mosurbanforum.com/static/archive/2018/speakers/bruce_katz.jpg">
                <div class="event__speakers-item-block">
                  <div class="event__speakers-item-name">Bruce Katz</div>
                  <div class="event__speakers-item-position">Associate professor</div>
                  <div class="event__speakers-item-company">Berklee College of Music</div>
                  <div class="event__speakers-item-desc">An American musician, playing piano, organ and bass guitar
                  </div>
                </div>
              </div>
              <div class="event__speakers-item" data-micromodal-trigger="speaker-4"><img
                class="event__speakers-item-img"
                src="http://mosurbanforum.com/static/archive/2018/speakers/bruce_katz.jpg">
                <div class="event__speakers-item-block">
                  <div class="event__speakers-item-name">Bruce Katz</div>
                  <div class="event__speakers-item-position">Associate professor</div>
                  <div class="event__speakers-item-company">Berklee College of Music</div>
                  <div class="event__speakers-item-desc">An American musician, playing piano, organ and bass guitar
                  </div>
                </div>
              </div>
              <div class="event__speakers-item" data-micromodal-trigger="speaker-5"><img
                class="event__speakers-item-img"
                src="http://mosurbanforum.com/static/archive/2018/speakers/bruce_katz.jpg">
                <div class="event__speakers-item-block">
                  <div class="event__speakers-item-name">Bruce Katz</div>
                  <div class="event__speakers-item-position">Associate professor</div>
                  <div class="event__speakers-item-company">Berklee College of Music</div>
                  <div class="event__speakers-item-desc">An American musician, playing piano, organ and bass guitar
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
  <footer class="footer">
    <div class="footer__social">
      <div class="footer__social-content"><a class="footer__social-item" href="#"><img
        class="footer__social-icon footer__social-icon--fb" src="assets/img/footer/fb.svg"></a><a
        class="footer__social-item" href="#"><img class="footer__social-icon footer__social-icon--vk"
                                                  src="assets/img/footer/vk.svg"></a><a class="footer__social-item"
                                                                                        href="#"><img
        class="footer__social-icon footer__social-icon--yt" src="assets/img/footer/yt.svg"></a><a
        class="footer__social-item" href="#"><img class="footer__social-icon footer__social-icon--ig"
                                                  src="assets/img/footer/ig.svg"></a></div>
    </div>
    <div class="footer__content">
      <div class="footer__row"><img class="footer__logo" src="assets/img/logo-simple.png" width="100%" height="100%"
                                    title="Moscow Urban Forum">
        <div class="footer__info"><h1 class="footer__info-title">MOSCOW URBAN FORUM — крупнейший международный конгресс,
          посвященный вызовам развития глобальных мегаполисов. Форум проводится ежегодно с 2011 года.</h1><span
          class="footer__info-text">MUF объединяет представителей городских администраций России и мира, архитекторов, градостроителей, девелоперов, руководителей финансовых компаний, инвесторов, технологические стартапы, представителей медиа  и горожан.</span>
        </div>
      </div>
      <div class="footer__row">
        <div class="footer__block"><h2 class="footer__block-title">Разделы</h2><a class="footer__nav-item" href="#">Форум
          2017</a><a class="footer__nav-item" href="#">Видео выступлений</a><a class="footer__nav-item" href="#">Календарь</a><a
          class="footer__nav-item" href="#">Новости</a></div>
        <div class="footer__block"><h2 class="footer__block-title">Архив</h2><a class="footer__nav-item"
                                                                                href="#">2012</a><a
          class="footer__nav-item" href="#">2013</a><a class="footer__nav-item" href="#">2014</a><a
          class="footer__nav-item" href="#">2016</a></div>
        <div class="footer__block"><h2 class="footer__block-title">Контакты</h2>
          <div class="footer__phone">8 499 641-15-82</div>
          <a class="footer__link" href="mailto:welcome@mosurbanforum.ru" target="_blank">welcome@mosurbanforum.ru</a>
          <div class="footer__decorated-block"><h2 class="footer__decorated-block-title">Адрес офиса</h2><span
            class="footer__decorated-block-content">ВДНХ, домовладение 119, павильон № 75, проспект Мира, Москва, 129223</span>
          </div>
        </div>
        <div class="footer__block"><h2 class="footer__block-title">По вопросам партнерста и спонcорства</h2><span>8 499 641-15-82 | <a
          class="footer__link" href="mailto:partner@mosurbanforum.ru">partner@mosurbanforum.ru</a></span>
          <div class="footer__people">
            <div class="footer__decorated-block"><h2 class="footer__decorated-block-title">Арина Дробина</h2><span
              class="footer__decorated-block-content">директор по маркетингу</span></div>
            <div class="footer__decorated-block"><h2 class="footer__decorated-block-title">Наталья Дубовик</h2><span
              class="footer__decorated-block-content">менеджер по работе с партнерами</span></div>
          </div>
          <div class="footer__tender"><strong>Стать подрядчиком:&nbsp;</strong><a class="footer__link"
                                                                                  href="mailto:tenders@mosurbanforum.ru">tenders@mosurbanforum.ru</a>
          </div>
        </div>
      </div>
      <div class="footer__copyright">© Moscow Urban Forum, 2017</div>
    </div>
  </footer>
  <footer class="footer__mob">
    <div class="footer__mob-inner">
      <div class="footer__mob-section"><h3 class="footer__mob-section-title">Разделы</h3>
        <nav class="footer__mob-nav"><a class="footer__mob-nav-item" href="#">Форум 2017</a><a
          class="footer__mob-nav-item" href="#">Новости</a><a class="footer__mob-nav-item" href="#">Календарь</a><a
          class="footer__mob-nav-item" href="#">Фестиваль</a><a class="footer__mob-nav-item" href="#">Премия</a><a
          class="footer__mob-nav-item" href="#">Партнеры</a><a class="footer__mob-nav-item" href="#">Библиотека</a><a
          class="footer__mob-nav-item" href="#">Видео</a></nav>
      </div>
      <div class="footer__mob-section"><h3 class="footer__mob-section-title">Архив</h3>
        <nav class="footer__mob-nav"><a class="footer__mob-nav-item" href="#">2016</a><a class="footer__mob-nav-item"
                                                                                         href="#">2015</a><a
          class="footer__mob-nav-item" href="#">2014</a><a class="footer__mob-nav-item" href="#">2013</a></nav>
      </div>
      <div class="footer__mob-section footer__mob-section--small-indent"><h3 class="footer__mob-section-title">
        Контакты</h3><span class="footer__mob-section-text">8 499 641-15-82<br><a class="footer__mob-link"
                                                                                  href="mailto:welcome@mosurbanforum.ru"
                                                                                  target="_blank">welcome@mosurbanforum.ru</a></span>
      </div>
      <div class="footer__mob-section footer__mob-section--small-indent"><h4
        class="footer__mob-section-title footer__mob-section-title--secondary">Адрес офиса</h4><span
        class="footer__mob-section-text">ВДНХ, домовладение 119, павильон № 75,<br>проспект Мира, Москва, 129223</span>
      </div>
      <div class="footer__mob-section footer__mob-section--small-indent"><h4
        class="footer__mob-section-title footer__mob-section-title--secondary">Стать подрядчиком</h4><span
        class="footer__mob-section-text"><a class="footer__mob-link" href="mailto:tenders@mosurbanforum.ru"
                                            target="_blank">tenders@mosurbanforum.ru</a></span></div>
      <div class="footer__mob-section footer__mob-section--marked footer__mob-section--small-indent"><h3
        class="footer__mob-section-title">По вопросам партнерства и спонсорства</h3><span
        class="footer__mob-section-text">8 499 641-15-82<br><a class="footer__mob-link"
                                                               href="mailto:partner@mosurbanforum.ru" target="_blank">partner@mosurbanforum.ru</a></span>
      </div>
      <div class="footer__mob-section footer__mob-section--small-indent"><h4
        class="footer__mob-section-title footer__mob-section-title--secondary">Арина Дробина</h4><span
        class="footer__mob-section-text">директор по маркетингу</span></div>
      <div class="footer__mob-section"><h4 class="footer__mob-section-title footer__mob-section-title--secondary">
        Наталья Дубовик</h4><span class="footer__mob-section-text">менеджер по работе с партнерами</span></div>
      <div class="footer__mob-copyright">© Moscow Urban Forum, 2017</div>
    </div>
  </footer>
</div>
<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script src="https://unpkg.com/micromodal/dist/micromodal.min.js"></script>
<script src="scripts/main.js"></script>
</body>
</html>
