app/experiment.pug
extends pug/layouts/default
include pug/components/secondary-button
block content
  main.mainer
    section.page
      .page__content
        h1.page-title Экспериментальные лаборатории MUF 17
        p.paragraph.
          Экспериментальные лаборатории MUF 17 — это динамичные исследовательские воркшопы по разработке инструментов
          внедрения технологических инноваций в политику Москвы.
        p.paragraph.
          Лаборатории посвящены трем приоритетным для Москвы направлениям: мобильность, жилье и качество среды обитания.
          Лаборатории станут платформой для открытого диалога и совместной работы профильных департаментов Правительства Москвы,
          профессионалов в области развития городской среды, создателей инновационных технологических разработок и инвесторов.
        p.paragraph.
          Опыт ведущих глобальных мегаполисов показывает, как важна для будущего Москвы повестка открытого технологического развития.
          Москва должна стать городом, открытым для новых технологий и  нацеленным на постоянное повышение качества жизни
          за счет поиска и внедрения новых технологических решений. В свою очередь технологии должны стать открытыми и доступными
          в повседневной жизни горожан.
      .full-width-info
        .full-width-info__content
          h2.full-width-info__title Цели Лабораторий
          .full-width-info__block
            span.full-width-info__block-item.
              <b>Поиск</b> новых технологических решений, актуальных для текущих стратегических задач города и нацеленных
              на создание комфортной и безопасной городской среды.
            span.full-width-info__block-item.
              <b>Формирование</b> инструментов для интеграции технологических инноваций в повестку развития Москвы.
            span.full-width-info__block-item.
              <b>Создание</b> дорожных карт по внедрению новых технологий по трем ключевым темам Лабораторий.
      .page__content
        h1.page-title Направления работы
        .numbered-block

          .numbered-block__item
            .numbered-block__item-title
              .numbered-block__item-title-text Комфортное жилье<br>будущего
            div.numbered-block__item-content
              p.numbered-block__item-content-text.
                Лаборатория сосредоточится на широком диапазоне технологических решений на всех этапах проектирования
                и строительства жилья — от планировки районов до инновационных технологий строительства,
                применения новых материалов и технологий «умный дом».

          .numbered-block__item
            .numbered-block__item-title
              .numbered-block__item-title-text Мобильность<br>будущего
            div.numbered-block__item-content
              p.numbered-block__item-content-text.
                Лаборатория рассмотрит инновационные решения, направленные на сокращение расстояний в
                городе и повышение мобильности горожан и товаров.
        p.paragraph.
          Экспериментальные лаборатории MUF 17 — это динамичные исследовательские воркшопы по разработке инструментов
          внедрения технологических инноваций в политику Москвы.
        p.paragraph.
          Лаборатории посвящены трем приоритетным для Москвы направлениям: мобильность, жилье и качество среды обитания.
          Лаборатории станут платформой для открытого диалога и совместной работы профильных департаментов Правительства Москвы,
          профессионалов в области развития городской среды, создателей инновационных технологических разработок и инвесторов.
        p.paragraph.
          Опыт ведущих глобальных мегаполисов показывает, как важна для будущего Москвы повестка открытого технологического развития.
          Москва должна стать городом, открытым для новых технологий и  нацеленным на постоянное повышение качества жизни
          за счет поиска и внедрения новых технологических решений. В свою очередь технологии должны стать открытыми и доступными
          в повседневной жизни горожан.
        h1.page-title Как принять участие:
        .stages-block
          .stages-block__item
            .stages-block__item-stage
              .stages-block__item-stage-number &nbsp;этап
              .stages-block__item-stage-date 18 МАЯ — 20 ИЮНЯ
            .stages-block__item-content
              span.stages-block__item-content-title Подача заявок на участие
              p.stages-block__item-content-text.
                Подайте заявку на участие до 20 июня включительно. Участие могут принять как сформированные команды,
                так и индивидуальные участники. Если вы подаетесь командой, заполнить заявки должны все члены команды.
          .stages-block__item
            .stages-block__item-stage
              .stages-block__item-stage-number &nbsp;этап
              .stages-block__item-stage-date 15 — 25 ИЮНЯ
            .stages-block__item-content
              span.stages-block__item-content-title Отбор участников и подтверждение участия
              p.stages-block__item-content-text.
                Программный директор и менторы Лабораторий сформируют финальный состав участников.
                Письмо с подтверждением вашего участия и детальным расписанием вы получите 25 июня.

dist/experiment.html
<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="utf-8">
  <meta name="description" content="">
  <meta name="format-detection" content="telephone=no">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>Moscow Urban Forum</title>
  <link rel="apple-touch-icon-precomposed" sizes="152x152" href="apple-touch-icon-152x152.png">
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="apple-touch-icon-144x144.png">
  <link rel="icon" type="image/png" href="favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="favicon-16x16.png" sizes="16x16">
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="styles/main.css">
</head>
<body ontouchstart><!--[if lt IE 10]><p class="browserupgrade">You are using an <strong>outdated</strong> browser.
  Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p><![endif]-->
<div class="container">
  <header class="header"><a class="header__logo" href="/"><img src="./assets/img/logo.svg"
                                                               srcset="./assets/img/logo.svg 2x, ./assets/img/logo.svg 3x"></a>
    <nav class="menu">
      <ul class="menu__row">
        <li class="menu__item"><a href="#main-history">Форум 2017</a></li>
        <li class="menu__item"><a href="/news-list.html">Новости</a></li>
        <li class="menu__item"><a href="/calendar.html#month_2_2018">Календарь</a></li>
        <li class="menu__item"><a href="/fest.html">Фестиваль</a></li>
        <li class="menu__item"><a href="#">Премия</a></li>
      </ul>
      <ul class="menu__row">
        <li class="menu__item"><a href="/partnership.html">Партнеры</a></li>
        <li class="menu__item"><a href="/library.html">Библиотека</a></li>
        <li class="menu__item"><a href="/video.html">Видео</a></li>
        <li class="menu__item menu__item--dropdown">
          <div>Архив</div>
          <ul class="menu__dropdown">
            <li class="menu__item"><a href="/">Форум 2016</a></li>
            <li class="menu__item"><a href="/">Форум 2015</a></li>
            <li class="menu__item"><a href="/">Форум 2014</a></li>
          </ul>
        </li>
      </ul>
    </nav>
    <div class="header__registration"><a class="header__registration-btn" href="#">Регистрация</a></div>
    <a class="header__language-link" href="#">en</a>
    <div class="header__nav-toggle">
      <div class="hamburger hamburger--squeeze">
        <div class="hamburger-box">
          <div class="hamburger-inner"></div>
        </div>
      </div>
    </div>
  </header>
  <nav class="menu-mobile">
    <div class="menu-mobile__inner">
      <ul class="menu-mobile__list">
        <li class="menu-mobile__item"><a href="#">Форум 2017</a></li>
        <li class="menu-mobile__item"><a href="/news-list.html">Новости</a></li>
        <li class="menu-mobile__item"><a href="/calendar.html">Календарь</a></li>
        <li class="menu-mobile__item"><a href="/fest.html">Фестиваль</a></li>
        <li class="menu-mobile__item"><a href="#">Премия</a></li>
        <li class="menu-mobile__item"><a href="/partnership.html">Партнеры</a></li>
        <li class="menu-mobile__item"><a href="/library.html">Библиотека</a></li>
        <li class="menu-mobile__item"><a href="/video.html">Видео</a></li>
      </ul>
      <ul class="menu-mobile__archive">
        <div class="menu-mobile__archive-title">Архив</div>
        <li class="menu-mobile__item menu-mobile__item--horizontal"><a href="#">2016</a></li>
        <li class="menu-mobile__item menu-mobile__item--horizontal"><a href="#">2015</a></li>
        <li class="menu-mobile__item menu-mobile__item--horizontal"><a href="#">2014</a></li>
        <li class="menu-mobile__item menu-mobile__item--horizontal"><a href="#">2013</a></li>
      </ul>
      <div class="menu-mobile__social">
        <div class="menu-mobile__social-item menu-mobile__social-item--ig"></div>
        <div class="menu-mobile__social-item menu-mobile__social-item--yt"></div>
        <div class="menu-mobile__social-item menu-mobile__social-item--vk"></div>
        <div class="menu-mobile__social-item menu-mobile__social-item--fb"></div>
      </div>
    </div>
  </nav>
  <main class="mainer">
    <section class="page">
      <div class="page__content"><h1 class="page-title">Экспериментальные лаборатории MUF 17</h1>
        <p class="paragraph">Экспериментальные лаборатории MUF 17 — это динамичные исследовательские воркшопы по
          разработке инструментов внедрения технологических инноваций в политику Москвы.</p>
        <p class="paragraph">Лаборатории посвящены трем приоритетным для Москвы направлениям: мобильность, жилье и
          качество среды обитания. Лаборатории станут платформой для открытого диалога и совместной работы профильных
          департаментов Правительства Москвы, профессионалов в области развития городской среды, создателей
          инновационных технологических разработок и инвесторов.</p>
        <p class="paragraph">Опыт ведущих глобальных мегаполисов показывает, как важна для будущего Москвы повестка
          открытого технологического развития. Москва должна стать городом, открытым для новых технологий и нацеленным
          на постоянное повышение качества жизни за счет поиска и внедрения новых технологических решений. В свою
          очередь технологии должны стать открытыми и доступными в повседневной жизни горожан.</p></div>
      <div class="full-width-info">
        <div class="full-width-info__content"><h2 class="full-width-info__title">Цели Лабораторий</h2>
          <div class="full-width-info__block"><span class="full-width-info__block-item"><b>Поиск</b> новых технологических решений, актуальных для текущих стратегических задач города и нацеленных на создание комфортной и безопасной городской среды.</span><span
            class="full-width-info__block-item"><b>Формирование</b> инструментов для интеграции технологических инноваций в повестку развития Москвы.</span><span
            class="full-width-info__block-item"><b>Создание</b> дорожных карт по внедрению новых технологий по трем ключевым темам Лабораторий.</span>
          </div>
        </div>
      </div>
      <div class="page__content"><h1 class="page-title">Направления работы</h1>
        <div class="numbered-block">
          <div class="numbered-block__item">
            <div class="numbered-block__item-title">
              <div class="numbered-block__item-title-text">Комфортное жилье<br>будущего</div>
            </div>
            <div class="numbered-block__item-content"><p class="numbered-block__item-content-text">Лаборатория
              сосредоточится на широком диапазоне технологических решений на всех этапах проектирования и строительства
              жилья — от планировки районов до инновационных технологий строительства, применения новых материалов и
              технологий «умный дом».</p></div>
          </div>
          <div class="numbered-block__item">
            <div class="numbered-block__item-title">
              <div class="numbered-block__item-title-text">Мобильность<br>будущего</div>
            </div>
            <div class="numbered-block__item-content"><p class="numbered-block__item-content-text">Лаборатория
              рассмотрит инновационные решения, направленные на сокращение расстояний в городе и повышение мобильности
              горожан и товаров.</p></div>
          </div>
        </div>
        <p class="paragraph">Экспериментальные лаборатории MUF 17 — это динамичные исследовательские воркшопы по
          разработке инструментов внедрения технологических инноваций в политику Москвы.</p>
        <p class="paragraph">Лаборатории посвящены трем приоритетным для Москвы направлениям: мобильность, жилье и
          качество среды обитания. Лаборатории станут платформой для открытого диалога и совместной работы профильных
          департаментов Правительства Москвы, профессионалов в области развития городской среды, создателей
          инновационных технологических разработок и инвесторов.</p>
        <p class="paragraph">Опыт ведущих глобальных мегаполисов показывает, как важна для будущего Москвы повестка
          открытого технологического развития. Москва должна стать городом, открытым для новых технологий и нацеленным
          на постоянное повышение качества жизни за счет поиска и внедрения новых технологических решений. В свою
          очередь технологии должны стать открытыми и доступными в повседневной жизни горожан.</p>
        <h1 class="page-title">Как принять участие:</h1>
        <div class="stages-block">
          <div class="stages-block__item">
            <div class="stages-block__item-stage">
              <div class="stages-block__item-stage-number">&nbsp;этап</div>
              <div class="stages-block__item-stage-date">18 МАЯ — 20 ИЮНЯ</div>
            </div>
            <div class="stages-block__item-content"><span class="stages-block__item-content-title">Подача заявок на участие</span>
              <p class="stages-block__item-content-text">Подайте заявку на участие до 20 июня включительно. Участие
                могут принять как сформированные команды, так и индивидуальные участники. Если вы подаетесь командой,
                заполнить заявки должны все члены команды.</p></div>
          </div>
          <div class="stages-block__item">
            <div class="stages-block__item-stage">
              <div class="stages-block__item-stage-number">&nbsp;этап</div>
              <div class="stages-block__item-stage-date">15 — 25 ИЮНЯ</div>
            </div>
            <div class="stages-block__item-content"><span class="stages-block__item-content-title">Отбор участников и подтверждение участия</span>
              <p class="stages-block__item-content-text">Программный директор и менторы Лабораторий сформируют финальный
                состав участников. Письмо с подтверждением вашего участия и детальным расписанием вы получите 25
                июня.</p></div>
          </div>
        </div>
      </div>
    </section>
  </main>
  <footer class="footer">
    <div class="footer__social">
      <div class="footer__social-content"><a class="footer__social-item" href="#"><img
        class="footer__social-icon footer__social-icon--fb" src="assets/img/footer/fb.svg"></a><a
        class="footer__social-item" href="#"><img class="footer__social-icon footer__social-icon--vk"
                                                  src="assets/img/footer/vk.svg"></a><a class="footer__social-item"
                                                                                        href="#"><img
        class="footer__social-icon footer__social-icon--yt" src="assets/img/footer/yt.svg"></a><a
        class="footer__social-item" href="#"><img class="footer__social-icon footer__social-icon--ig"
                                                  src="assets/img/footer/ig.svg"></a></div>
    </div>
    <div class="footer__content">
      <div class="footer__row"><img class="footer__logo" src="assets/img/logo-simple.png" width="100%" height="100%"
                                    title="Moscow Urban Forum">
        <div class="footer__info"><h1 class="footer__info-title">MOSCOW URBAN FORUM — крупнейший международный конгресс,
          посвященный вызовам развития глобальных мегаполисов. Форум проводится ежегодно с 2011 года.</h1><span
          class="footer__info-text">MUF объединяет представителей городских администраций России и мира, архитекторов, градостроителей, девелоперов, руководителей финансовых компаний, инвесторов, технологические стартапы, представителей медиа  и горожан.</span>
        </div>
      </div>
      <div class="footer__row">
        <div class="footer__block"><h2 class="footer__block-title">Разделы</h2><a class="footer__nav-item" href="#">Форум
          2017</a><a class="footer__nav-item" href="#">Видео выступлений</a><a class="footer__nav-item" href="#">Календарь</a><a
          class="footer__nav-item" href="#">Новости</a></div>
        <div class="footer__block"><h2 class="footer__block-title">Архив</h2><a class="footer__nav-item"
                                                                                href="#">2012</a><a
          class="footer__nav-item" href="#">2013</a><a class="footer__nav-item" href="#">2014</a><a
          class="footer__nav-item" href="#">2016</a></div>
        <div class="footer__block"><h2 class="footer__block-title">Контакты</h2>
          <div class="footer__phone">8 499 641-15-82</div>
          <a class="footer__link" href="mailto:welcome@mosurbanforum.ru" target="_blank">welcome@mosurbanforum.ru</a>
          <div class="footer__decorated-block"><h2 class="footer__decorated-block-title">Адрес офиса</h2><span
            class="footer__decorated-block-content">ВДНХ, домовладение 119, павильон № 75, проспект Мира, Москва, 129223</span>
          </div>
        </div>
        <div class="footer__block"><h2 class="footer__block-title">По вопросам партнерста и спонcорства</h2><span>8 499 641-15-82 | <a
          class="footer__link" href="mailto:partner@mosurbanforum.ru">partner@mosurbanforum.ru</a></span>
          <div class="footer__people">
            <div class="footer__decorated-block"><h2 class="footer__decorated-block-title">Арина Дробина</h2><span
              class="footer__decorated-block-content">директор по маркетингу</span></div>
            <div class="footer__decorated-block"><h2 class="footer__decorated-block-title">Наталья Дубовик</h2><span
              class="footer__decorated-block-content">менеджер по работе с партнерами</span></div>
          </div>
          <div class="footer__tender"><strong>Стать подрядчиком:&nbsp;</strong><a class="footer__link"
                                                                                  href="mailto:tenders@mosurbanforum.ru">tenders@mosurbanforum.ru</a>
          </div>
        </div>
      </div>
      <div class="footer__copyright">© Moscow Urban Forum, 2017</div>
    </div>
  </footer>
  <footer class="footer__mob">
    <div class="footer__mob-inner">
      <div class="footer__mob-section"><h3 class="footer__mob-section-title">Разделы</h3>
        <nav class="footer__mob-nav"><a class="footer__mob-nav-item" href="#">Форум 2017</a><a
          class="footer__mob-nav-item" href="#">Новости</a><a class="footer__mob-nav-item" href="#">Календарь</a><a
          class="footer__mob-nav-item" href="#">Фестиваль</a><a class="footer__mob-nav-item" href="#">Премия</a><a
          class="footer__mob-nav-item" href="#">Партнеры</a><a class="footer__mob-nav-item" href="#">Библиотека</a><a
          class="footer__mob-nav-item" href="#">Видео</a></nav>
      </div>
      <div class="footer__mob-section"><h3 class="footer__mob-section-title">Архив</h3>
        <nav class="footer__mob-nav"><a class="footer__mob-nav-item" href="#">2016</a><a class="footer__mob-nav-item"
                                                                                         href="#">2015</a><a
          class="footer__mob-nav-item" href="#">2014</a><a class="footer__mob-nav-item" href="#">2013</a></nav>
      </div>
      <div class="footer__mob-section footer__mob-section--small-indent"><h3 class="footer__mob-section-title">
        Контакты</h3><span class="footer__mob-section-text">8 499 641-15-82<br><a class="footer__mob-link"
                                                                                  href="mailto:welcome@mosurbanforum.ru"
                                                                                  target="_blank">welcome@mosurbanforum.ru</a></span>
      </div>
      <div class="footer__mob-section footer__mob-section--small-indent"><h4
        class="footer__mob-section-title footer__mob-section-title--secondary">Адрес офиса</h4><span
        class="footer__mob-section-text">ВДНХ, домовладение 119, павильон № 75,<br>проспект Мира, Москва, 129223</span>
      </div>
      <div class="footer__mob-section footer__mob-section--small-indent"><h4
        class="footer__mob-section-title footer__mob-section-title--secondary">Стать подрядчиком</h4><span
        class="footer__mob-section-text"><a class="footer__mob-link" href="mailto:tenders@mosurbanforum.ru"
                                            target="_blank">tenders@mosurbanforum.ru</a></span></div>
      <div class="footer__mob-section footer__mob-section--marked footer__mob-section--small-indent"><h3
        class="footer__mob-section-title">По вопросам партнерства и спонсорства</h3><span
        class="footer__mob-section-text">8 499 641-15-82<br><a class="footer__mob-link"
                                                               href="mailto:partner@mosurbanforum.ru" target="_blank">partner@mosurbanforum.ru</a></span>
      </div>
      <div class="footer__mob-section footer__mob-section--small-indent"><h4
        class="footer__mob-section-title footer__mob-section-title--secondary">Арина Дробина</h4><span
        class="footer__mob-section-text">директор по маркетингу</span></div>
      <div class="footer__mob-section"><h4 class="footer__mob-section-title footer__mob-section-title--secondary">
        Наталья Дубовик</h4><span class="footer__mob-section-text">менеджер по работе с партнерами</span></div>
      <div class="footer__mob-copyright">© Moscow Urban Forum, 2017</div>
    </div>
  </footer>
</div>
<script src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script src="http://vk.com/js/api/xd_connection.js?2&quot;"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
<script src="https://unpkg.com/micromodal/dist/micromodal.min.js"></script>
<script src="scripts/main.js"></script>
</body>
</html>
