dist/fest-program.html
<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="utf-8">
  <meta name="description" content="">
  <meta name="format-detection" content="telephone=no">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>Moscow Urban Forum</title>
  <link rel="apple-touch-icon-precomposed" sizes="152x152" href="apple-touch-icon-152x152.png">
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="apple-touch-icon-144x144.png">
  <link rel="icon" type="image/png" href="favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="favicon-16x16.png" sizes="16x16">
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="styles/main.css">
</head>
<body ontouchstart><!--[if lt IE 10]><p class="browserupgrade">You are using an <strong>outdated</strong> browser.
  Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p><![endif]-->
<div class="container">
  <header class="header"><a class="header__logo" href="/"><img src="./assets/img/logo.svg"
                                                               srcset="./assets/img/logo.svg 2x, ./assets/img/logo.svg 3x"></a>
    <nav class="menu">
      <ul class="menu__row">
        <li class="menu__item"><a href="#main-history">Форум 2017</a></li>
        <li class="menu__item"><a href="/news-list.html">Новости</a></li>
        <li class="menu__item"><a href="/calendar.html#month_2_2018">Календарь</a></li>
        <li class="menu__item"><a href="/fest.html">Фестиваль</a></li>
        <li class="menu__item"><a href="#">Премия</a></li>
      </ul>
      <ul class="menu__row">
        <li class="menu__item"><a href="/partnership.html">Партнеры</a></li>
        <li class="menu__item"><a href="/library.html">Библиотека</a></li>
        <li class="menu__item"><a href="/video.html">Видео</a></li>
        <li class="menu__item menu__item--dropdown">
          <div>Архив</div>
          <ul class="menu__dropdown">
            <li class="menu__item"><a href="/">Форум 2016</a></li>
            <li class="menu__item"><a href="/">Форум 2015</a></li>
            <li class="menu__item"><a href="/">Форум 2014</a></li>
          </ul>
        </li>
      </ul>
    </nav>
    <div class="header__registration"><a class="header__registration-btn" href="#">Регистрация</a></div>
    <a class="header__language-link" href="#">en</a>
    <div class="header__nav-toggle">
      <div class="hamburger hamburger--squeeze">
        <div class="hamburger-box">
          <div class="hamburger-inner"></div>
        </div>
      </div>
    </div>
  </header>
  <nav class="menu-mobile">
    <div class="menu-mobile__inner">
      <ul class="menu-mobile__list">
        <li class="menu-mobile__item"><a href="#">Форум 2017</a></li>
        <li class="menu-mobile__item"><a href="/news-list.html">Новости</a></li>
        <li class="menu-mobile__item"><a href="/calendar.html">Календарь</a></li>
        <li class="menu-mobile__item"><a href="/fest.html">Фестиваль</a></li>
        <li class="menu-mobile__item"><a href="#">Премия</a></li>
        <li class="menu-mobile__item"><a href="/partnership.html">Партнеры</a></li>
        <li class="menu-mobile__item"><a href="/library.html">Библиотека</a></li>
        <li class="menu-mobile__item"><a href="/video.html">Видео</a></li>
      </ul>
      <ul class="menu-mobile__archive">
        <div class="menu-mobile__archive-title">Архив</div>
        <li class="menu-mobile__item menu-mobile__item--horizontal"><a href="#">2016</a></li>
        <li class="menu-mobile__item menu-mobile__item--horizontal"><a href="#">2015</a></li>
        <li class="menu-mobile__item menu-mobile__item--horizontal"><a href="#">2014</a></li>
        <li class="menu-mobile__item menu-mobile__item--horizontal"><a href="#">2013</a></li>
      </ul>
      <div class="menu-mobile__social">
        <div class="menu-mobile__social-item menu-mobile__social-item--ig"></div>
        <div class="menu-mobile__social-item menu-mobile__social-item--yt"></div>
        <div class="menu-mobile__social-item menu-mobile__social-item--vk"></div>
        <div class="menu-mobile__social-item menu-mobile__social-item--fb"></div>
      </div>
    </div>
  </nav>
  <main class="mainer">
    <section class="page">
      <div class="page__content"><h2 class="page-title">Программа фестиваля</h2>
        <div class="fest-program">
          <div class="fest-program__days">
            <div class="fest-program__days-item" data-day="all">Все время</div>
            <div class="fest-program__days-item" data-day="1">День 1</div>
            <div class="fest-program__days-item" data-day="2">День 2</div>
            <div class="fest-program__days-item" data-day="3">День 3</div>
            <div class="fest-program__days-item" data-day="4">День 4</div>
            <div class="fest-program__days-item" data-day="5">День 5</div>
            <div class="fest-program__days-item" data-day="6">День 6</div>
          </div>
          <div class="fest-program__menu">
            <div class="fest-program__menu-item" data-type="1">категория 1</div>
            <div class="fest-program__menu-item" data-type="2">категория 2</div>
            <div class="fest-program__menu-item" data-type="3">категория 3</div>
            <div class="fest-program__menu-item" data-type="4">категория 4</div>
          </div>
          <div class="fest-site">
            <div class="fest-site__name active">Концертный зал
              <div class="fest-site__name-arrow"></div>
            </div>
            <div class="fest-site__venue-container active">
              <div class="fest-venue">
                <div class="fest-venue__name">Зал 1</div>
                <div class="fest-venue__icon hall-35"></div>
                <div class="fest-event__container">
                  <div class="fest-event" data-day="1">
                    <div class="fest-event__date">17 Июля</div>
                    <div class="fest-event__list"><a class="fest-event__list-item" href="#" data-type="4">
                      <div class="fest-event__list-item-time">18:00-19:30</div>
                      <div class="fest-event__list-item-title">интервью с архитектором</div>
                      <div class="fest-event__list-item-reg">Регистрация</div>
                    </a></div>
                  </div>
                </div>
              </div>
              <div class="fest-venue fest-venue--full">
                <div class="fest-venue__name">Зал 2</div>
                <div class="fest-event__container">
                  <div class="fest-event" data-day="1">
                    <div class="fest-event__date">17 Июля</div>
                    <div class="fest-event__list"><a class="fest-event__list-item" href="" data-type="2">
                      <div class="fest-event__list-item-time">18:00-19:30</div>
                      <div class="fest-event__list-item-title">интервью с архитектором: рем колхас и владимир познер
                      </div>
                      <div class="fest-event__list-item-lang">en</div>
                      <div class="fest-event__list-item-reg">Регистрация</div>
                    </a></div>
                  </div>
                  <div class="fest-event" data-day="2">
                    <div class="fest-event__date">18 Июля</div>
                    <div class="fest-event__list"><a class="fest-event__list-item" href="">
                      <div class="fest-event__list-item-time">19:00-20:00</div>
                      <div class="fest-event__list-item-title">интервью с урбанистом: ричард флорида</div>
                      <div class="fest-event__list-item-lang">en</div>
                      <div class="fest-event__list-item-reg">Регистрация</div>
                    </a></div>
                  </div>
                </div>
              </div>
              <div class="fest-venue">
                <div class="fest-venue__name">Зал 3</div>
                <div class="fest-event__container">
                  <div class="fest-event" data-day="2">
                    <div class="fest-event__date">18 Июля</div>
                    <div class="fest-event__list"><a class="fest-event__list-item" href="">
                      <div class="fest-event__list-item-time">19:00-20:00</div>
                      <div class="fest-event__list-item-title">интервью с урбанистом: ричард флорида</div>
                      <div class="fest-event__list-item-lang">en</div>
                      <div class="fest-event__list-item-reg">Регистрация</div>
                    </a></div>
                  </div>
                  <div class="fest-event" data-day="3">
                    <div class="fest-event__date">19 Июля</div>
                    <div class="fest-event__list"><a class="fest-event__list-item" href="">
                      <div class="fest-event__list-item-time">18:00-19:30</div>
                      <div class="fest-event__list-item-title">интервью с архитектором: рем колхас и владимир познер
                      </div>
                      <div class="fest-event__list-item-lang">en</div>
                      <div class="fest-event__list-item-reg">Регистрация</div>
                    </a></div>
                  </div>
                  <div class="fest-event" data-day="4">
                    <div class="fest-event__date">20 Июля</div>
                    <div class="fest-event__list"><a class="fest-event__list-item" href="">
                      <div class="fest-event__list-item-time">19:00-20:00</div>
                      <div class="fest-event__list-item-title">интервью с урбанистом: ричард флорида</div>
                      <div class="fest-event__list-item-lang">en</div>
                      <div class="fest-event__list-item-reg">Регистрация</div>
                    </a></div>
                  </div>
                </div>
              </div>
              <div class="fest-venue">
                <div class="fest-venue__name">Зал 4</div>
                <div class="fest-event__container">
                  <div class="fest-event" data-day="3">
                    <div class="fest-event__date">19 Июля</div>
                    <div class="fest-event__list"><a class="fest-event__list-item" href="">
                      <div class="fest-event__list-item-time">18:00-19:30</div>
                      <div class="fest-event__list-item-title">ВОРКШОП TVоя Москва: Голос Москвы 24 о том, как полюбить
                        публичные выступления
                      </div>
                      <div class="fest-event__list-item-lang">en</div>
                      <div class="fest-event__list-item-reg">Регистрация</div>
                    </a></div>
                  </div>
                  <div class="fest-event" data-day="4">
                    <div class="fest-event__date">20 Июля</div>
                    <div class="fest-event__list"><a class="fest-event__list-item" href="">
                      <div class="fest-event__list-item-time">19:00-20:00</div>
                      <div class="fest-event__list-item-title">интервью с урбанистом: ричард флорида</div>
                      <div class="fest-event__list-item-lang">en</div>
                      <div class="fest-event__list-item-reg">Регистрация</div>
                    </a></div>
                  </div>
                  <div class="fest-event" data-day="3">
                    <div class="fest-event__date">19 Июля</div>
                    <div class="fest-event__list"><a class="fest-event__list-item" href="">
                      <div class="fest-event__list-item-time">18:00-19:30</div>
                      <div class="fest-event__list-item-title">ВОРКШОП TVоя Москва: Голос Москвы 24 о том, как полюбить
                        публичные выступления
                      </div>
                      <div class="fest-event__list-item-lang">en</div>
                      <div class="fest-event__list-item-reg">Регистрация</div>
                    </a></div>
                  </div>
                  <div class="fest-event" data-day="4">
                    <div class="fest-event__date">20 Июля</div>
                    <div class="fest-event__list"><a class="fest-event__list-item" href="">
                      <div class="fest-event__list-item-time">19:00-20:00</div>
                      <div class="fest-event__list-item-title">интервью с урбанистом: ричард флорида</div>
                      <div class="fest-event__list-item-lang">en</div>
                      <div class="fest-event__list-item-reg">Регистрация</div>
                    </a></div>
                  </div>
                </div>
              </div>
              <div class="fest-venue">
                <div class="fest-venue__name">Зал 5</div>
                <div class="fest-event__container">
                  <div class="fest-event" data-day="5">
                    <div class="fest-event__date">21 Июля</div>
                    <div class="fest-event__list"><a class="fest-event__list-item" href="">
                      <div class="fest-event__list-item-time">18:00-19:30</div>
                      <div class="fest-event__list-item-title">интервью с архитектором: рем колхас и владимир познер
                      </div>
                      <div class="fest-event__list-item-lang">en</div>
                      <div class="fest-event__list-item-reg">Регистрация</div>
                    </a></div>
                  </div>
                  <div class="fest-event" data-day="6">
                    <div class="fest-event__date">22 Июля</div>
                    <div class="fest-event__list"><a class="fest-event__list-item" href="">
                      <div class="fest-event__list-item-time">19:00-20:00</div>
                      <div class="fest-event__list-item-title">интервью с урбанистом: ричард флорида</div>
                      <div class="fest-event__list-item-lang">en</div>
                      <div class="fest-event__list-item-reg">Регистрация</div>
                    </a></div>
                  </div>
                  <div class="fest-event" data-day="5">
                    <div class="fest-event__date">21 Июля</div>
                    <div class="fest-event__list"><a class="fest-event__list-item" href="">
                      <div class="fest-event__list-item-time">18:00-19:30</div>
                      <div class="fest-event__list-item-title">интервью с архитектором: рем колхас и владимир познер
                      </div>
                      <div class="fest-event__list-item-lang">en</div>
                      <div class="fest-event__list-item-reg">Регистрация</div>
                    </a></div>
                  </div>
                  <div class="fest-event" data-day="5">
                    <div class="fest-event__date">21 Июля</div>
                    <div class="fest-event__list"><a class="fest-event__list-item" href="">
                      <div class="fest-event__list-item-time">18:00-19:30</div>
                      <div class="fest-event__list-item-title">интервью с архитектором: рем колхас и владимир познер
                      </div>
                      <div class="fest-event__list-item-lang">en</div>
                      <div class="fest-event__list-item-reg">Регистрация</div>
                    </a></div>
                  </div>
                  <div class="fest-event" data-day="6">
                    <div class="fest-event__date">22 Июля</div>
                    <div class="fest-event__list"><a class="fest-event__list-item" href="">
                      <div class="fest-event__list-item-time">19:00-20:00</div>
                      <div class="fest-event__list-item-title">интервью с урбанистом: ричард флорида</div>
                      <div class="fest-event__list-item-lang">en</div>
                      <div class="fest-event__list-item-reg">Регистрация</div>
                    </a></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
  <footer class="footer">
    <div class="footer__social">
      <div class="footer__social-content"><a class="footer__social-item" href="#"><img
        class="footer__social-icon footer__social-icon--fb" src="assets/img/footer/fb.svg"></a><a
        class="footer__social-item" href="#"><img class="footer__social-icon footer__social-icon--vk"
                                                  src="assets/img/footer/vk.svg"></a><a class="footer__social-item"
                                                                                        href="#"><img
        class="footer__social-icon footer__social-icon--yt" src="assets/img/footer/yt.svg"></a><a
        class="footer__social-item" href="#"><img class="footer__social-icon footer__social-icon--ig"
                                                  src="assets/img/footer/ig.svg"></a></div>
    </div>
    <div class="footer__content">
      <div class="footer__row"><img class="footer__logo" src="assets/img/logo-simple.png" width="100%" height="100%"
                                    title="Moscow Urban Forum">
        <div class="footer__info"><h1 class="footer__info-title">MOSCOW URBAN FORUM — крупнейший международный конгресс,
          посвященный вызовам развития глобальных мегаполисов. Форум проводится ежегодно с 2011 года.</h1><span
          class="footer__info-text">MUF объединяет представителей городских администраций России и мира, архитекторов, градостроителей, девелоперов, руководителей финансовых компаний, инвесторов, технологические стартапы, представителей медиа  и горожан.</span>
        </div>
      </div>
      <div class="footer__row">
        <div class="footer__block"><h2 class="footer__block-title">Разделы</h2><a class="footer__nav-item" href="#">Форум
          2017</a><a class="footer__nav-item" href="#">Видео выступлений</a><a class="footer__nav-item" href="#">Календарь</a><a
          class="footer__nav-item" href="#">Новости</a></div>
        <div class="footer__block"><h2 class="footer__block-title">Архив</h2><a class="footer__nav-item"
                                                                                href="#">2012</a><a
          class="footer__nav-item" href="#">2013</a><a class="footer__nav-item" href="#">2014</a><a
          class="footer__nav-item" href="#">2016</a></div>
        <div class="footer__block"><h2 class="footer__block-title">Контакты</h2>
          <div class="footer__phone">8 499 641-15-82</div>
          <a class="footer__link" href="mailto:welcome@mosurbanforum.ru" target="_blank">welcome@mosurbanforum.ru</a>
          <div class="footer__decorated-block"><h2 class="footer__decorated-block-title">Адрес офиса</h2><span
            class="footer__decorated-block-content">ВДНХ, домовладение 119, павильон № 75, проспект Мира, Москва, 129223</span>
          </div>
        </div>
        <div class="footer__block"><h2 class="footer__block-title">По вопросам партнерста и спонcорства</h2><span>8 499 641-15-82 | <a
          class="footer__link" href="mailto:partner@mosurbanforum.ru">partner@mosurbanforum.ru</a></span>
          <div class="footer__people">
            <div class="footer__decorated-block"><h2 class="footer__decorated-block-title">Арина Дробина</h2><span
              class="footer__decorated-block-content">директор по маркетингу</span></div>
            <div class="footer__decorated-block"><h2 class="footer__decorated-block-title">Наталья Дубовик</h2><span
              class="footer__decorated-block-content">менеджер по работе с партнерами</span></div>
          </div>
          <div class="footer__tender"><strong>Стать подрядчиком:&nbsp;</strong><a class="footer__link"
                                                                                  href="mailto:tenders@mosurbanforum.ru">tenders@mosurbanforum.ru</a>
          </div>
        </div>
      </div>
      <div class="footer__copyright">© Moscow Urban Forum, 2017</div>
    </div>
  </footer>
  <footer class="footer__mob">
    <div class="footer__mob-inner">
      <div class="footer__mob-section"><h3 class="footer__mob-section-title">Разделы</h3>
        <nav class="footer__mob-nav"><a class="footer__mob-nav-item" href="#">Форум 2017</a><a
          class="footer__mob-nav-item" href="#">Новости</a><a class="footer__mob-nav-item" href="#">Календарь</a><a
          class="footer__mob-nav-item" href="#">Фестиваль</a><a class="footer__mob-nav-item" href="#">Премия</a><a
          class="footer__mob-nav-item" href="#">Партнеры</a><a class="footer__mob-nav-item" href="#">Библиотека</a><a
          class="footer__mob-nav-item" href="#">Видео</a></nav>
      </div>
      <div class="footer__mob-section"><h3 class="footer__mob-section-title">Архив</h3>
        <nav class="footer__mob-nav"><a class="footer__mob-nav-item" href="#">2016</a><a class="footer__mob-nav-item"
                                                                                         href="#">2015</a><a
          class="footer__mob-nav-item" href="#">2014</a><a class="footer__mob-nav-item" href="#">2013</a></nav>
      </div>
      <div class="footer__mob-section footer__mob-section--small-indent"><h3 class="footer__mob-section-title">
        Контакты</h3><span class="footer__mob-section-text">8 499 641-15-82<br><a class="footer__mob-link"
                                                                                  href="mailto:welcome@mosurbanforum.ru"
                                                                                  target="_blank">welcome@mosurbanforum.ru</a></span>
      </div>
      <div class="footer__mob-section footer__mob-section--small-indent"><h4
        class="footer__mob-section-title footer__mob-section-title--secondary">Адрес офиса</h4><span
        class="footer__mob-section-text">ВДНХ, домовладение 119, павильон № 75,<br>проспект Мира, Москва, 129223</span>
      </div>
      <div class="footer__mob-section footer__mob-section--small-indent"><h4
        class="footer__mob-section-title footer__mob-section-title--secondary">Стать подрядчиком</h4><span
        class="footer__mob-section-text"><a class="footer__mob-link" href="mailto:tenders@mosurbanforum.ru"
                                            target="_blank">tenders@mosurbanforum.ru</a></span></div>
      <div class="footer__mob-section footer__mob-section--marked footer__mob-section--small-indent"><h3
        class="footer__mob-section-title">По вопросам партнерства и спонсорства</h3><span
        class="footer__mob-section-text">8 499 641-15-82<br><a class="footer__mob-link"
                                                               href="mailto:partner@mosurbanforum.ru" target="_blank">partner@mosurbanforum.ru</a></span>
      </div>
      <div class="footer__mob-section footer__mob-section--small-indent"><h4
        class="footer__mob-section-title footer__mob-section-title--secondary">Арина Дробина</h4><span
        class="footer__mob-section-text">директор по маркетингу</span></div>
      <div class="footer__mob-section"><h4 class="footer__mob-section-title footer__mob-section-title--secondary">
        Наталья Дубовик</h4><span class="footer__mob-section-text">менеджер по работе с партнерами</span></div>
      <div class="footer__mob-copyright">© Moscow Urban Forum, 2017</div>
    </div>
  </footer>
</div>
<script src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script src="http://vk.com/js/api/xd_connection.js?2&quot;"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
<script src="https://unpkg.com/micromodal/dist/micromodal.min.js"></script>
<script src="scripts/main.js"></script>
</body>
</html>

app/fest-program.pug
extends pug/layouts/default

block content
  main.mainer
    section.page
      .page__content
        h2.page-title Программа фестиваля
        .fest-program
          .fest-program__days
            .fest-program__days-item(data-day='all') Все время
            .fest-program__days-item(data-day='1') День 1
            .fest-program__days-item(data-day='2') День 2
            .fest-program__days-item(data-day='3') День 3
            .fest-program__days-item(data-day='4') День 4
            .fest-program__days-item(data-day='5') День 5
            .fest-program__days-item(data-day='6') День 6
          .fest-program__menu
            .fest-program__menu-item(data-type='1') категория 1
            .fest-program__menu-item(data-type='2') категория 2
            .fest-program__menu-item(data-type='3') категория 3
            .fest-program__menu-item(data-type='4') категория 4
          .fest-site
            .fest-site__name.active Концертный зал
              .fest-site__name-arrow
            .fest-site__venue-container.active
              .fest-venue
                .fest-venue__name Зал 1
                .fest-venue__icon.hall-35
                .fest-event__container
                  .fest-event(data-day='1')
                    .fest-event__date 17 Июля
                    .fest-event__list
                      a(href='#' data-type='4').fest-event__list-item
                        .fest-event__list-item-time 18:00-19:30
                        .fest-event__list-item-title интервью с архитектором
                        .fest-event__list-item-reg Регистрация

              .fest-venue.fest-venue--full
                .fest-venue__name Зал 2
                .fest-event__container
                  .fest-event(data-day='1')
                    .fest-event__date 17 Июля
                    .fest-event__list
                      a(href='' data-type='2').fest-event__list-item
                        .fest-event__list-item-time 18:00-19:30
                        .fest-event__list-item-title интервью с архитектором: рем колхас и владимир познер
                        .fest-event__list-item-lang en
                        .fest-event__list-item-reg Регистрация
                  .fest-event(data-day='2')
                    .fest-event__date 18 Июля
                    .fest-event__list
                      a(href='').fest-event__list-item
                        .fest-event__list-item-time 19:00-20:00
                        .fest-event__list-item-title интервью с урбанистом: ричард флорида
                        .fest-event__list-item-lang en
                        .fest-event__list-item-reg Регистрация
              .fest-venue
                .fest-venue__name Зал 3
                .fest-event__container
                  .fest-event(data-day='2')
                    .fest-event__date 18 Июля
                    .fest-event__list
                      a(href='').fest-event__list-item
                        .fest-event__list-item-time 19:00-20:00
                        .fest-event__list-item-title интервью с урбанистом: ричард флорида
                        .fest-event__list-item-lang en
                        .fest-event__list-item-reg Регистрация
                  .fest-event(data-day='3')
                    .fest-event__date 19 Июля
                    .fest-event__list
                      a(href='').fest-event__list-item
                        .fest-event__list-item-time 18:00-19:30
                        .fest-event__list-item-title интервью с архитектором: рем колхас и владимир познер
                        .fest-event__list-item-lang en
                        .fest-event__list-item-reg Регистрация
                  .fest-event(data-day='4')
                    .fest-event__date 20 Июля
                    .fest-event__list
                      a(href='').fest-event__list-item
                        .fest-event__list-item-time 19:00-20:00
                        .fest-event__list-item-title интервью с урбанистом: ричард флорида
                        .fest-event__list-item-lang en
                        .fest-event__list-item-reg Регистрация
              .fest-venue
                .fest-venue__name Зал 4
                .fest-event__container
                  .fest-event(data-day='3')
                    .fest-event__date 19 Июля
                    .fest-event__list
                      a(href='').fest-event__list-item
                        .fest-event__list-item-time 18:00-19:30
                        .fest-event__list-item-title ВОРКШОП TVоя Москва: Голос Москвы 24 о том, как полюбить публичные выступления
                        .fest-event__list-item-lang en
                        .fest-event__list-item-reg Регистрация
                  .fest-event(data-day='4')
                    .fest-event__date 20 Июля
                    .fest-event__list
                      a(href='').fest-event__list-item
                        .fest-event__list-item-time 19:00-20:00
                        .fest-event__list-item-title интервью с урбанистом: ричард флорида
                        .fest-event__list-item-lang en
                        .fest-event__list-item-reg Регистрация
                  .fest-event(data-day='3')
                    .fest-event__date 19 Июля
                    .fest-event__list
                      a(href='').fest-event__list-item
                        .fest-event__list-item-time 18:00-19:30
                        .fest-event__list-item-title ВОРКШОП TVоя Москва: Голос Москвы 24 о том, как полюбить публичные выступления
                        .fest-event__list-item-lang en
                        .fest-event__list-item-reg Регистрация
                  .fest-event(data-day='4')
                    .fest-event__date 20 Июля
                    .fest-event__list
                      a(href='').fest-event__list-item
                        .fest-event__list-item-time 19:00-20:00
                        .fest-event__list-item-title интервью с урбанистом: ричард флорида
                        .fest-event__list-item-lang en
                        .fest-event__list-item-reg Регистрация
              .fest-venue
                .fest-venue__name Зал 5
                .fest-event__container
                  .fest-event(data-day='5')
                    .fest-event__date 21 Июля
                    .fest-event__list
                      a(href='').fest-event__list-item
                        .fest-event__list-item-time 18:00-19:30
                        .fest-event__list-item-title интервью с архитектором: рем колхас и владимир познер
                        .fest-event__list-item-lang en
                        .fest-event__list-item-reg Регистрация
                  .fest-event(data-day='6')
                    .fest-event__date 22 Июля
                    .fest-event__list
                      a(href='').fest-event__list-item
                        .fest-event__list-item-time 19:00-20:00
                        .fest-event__list-item-title интервью с урбанистом: ричард флорида
                        .fest-event__list-item-lang en
                        .fest-event__list-item-reg Регистрация
                  .fest-event(data-day='5')
                    .fest-event__date 21 Июля
                    .fest-event__list
                      a(href='').fest-event__list-item
                        .fest-event__list-item-time 18:00-19:30
                        .fest-event__list-item-title интервью с архитектором: рем колхас и владимир познер
                        .fest-event__list-item-lang en
                        .fest-event__list-item-reg Регистрация
                  .fest-event(data-day='5')
                    .fest-event__date 21 Июля
                    .fest-event__list
                      a(href='').fest-event__list-item
                        .fest-event__list-item-time 18:00-19:30
                        .fest-event__list-item-title интервью с архитектором: рем колхас и владимир познер
                        .fest-event__list-item-lang en
                        .fest-event__list-item-reg Регистрация
                  .fest-event(data-day='6')
                    .fest-event__date 22 Июля
                    .fest-event__list
                      a(href='').fest-event__list-item
                        .fest-event__list-item-time 19:00-20:00
                        .fest-event__list-item-title интервью с урбанистом: ричард флорида
                        .fest-event__list-item-lang en
                        .fest-event__list-item-reg Регистрация
          //.fest-site
          //  .fest-site__name.active СОБЫТИЯ В ПАРКЕ
          //    .fest-site__name-arrow
          //  .fest-site__venue-container.active
          //    .fest-venue
          //      .fest-venue__name Зал 1
          //      .fest-venue__icon.hall-35
          //      .fest-event__container
          //        .fest-event(data-day='1')
          //          .fest-event__date 17 Июля
          //          .fest-event__list
          //            a(href='').fest-event__list-item(data-type='4')
          //              .fest-event__list-item-time 18:00-19:30
          //              .fest-event__list-item-title интервью с архитектором: рем колхас и владимир познер
          //              .fest-event__list-item-lang en
          //              .fest-event__list-item-reg Регистрация
          //        .fest-event(data-day='2')
          //          .fest-event__date 18 Июля
          //          .fest-event__list
          //            a(href='').fest-event__list-item(data-type='1 2')
          //              .fest-event__list-item-time 19:00-20:00
          //              .fest-event__list-item-title интервью с урбанистом: ричард флорида
          //              .fest-event__list-item-lang en
          //              .fest-event__list-item-reg Регистрация
          //            a(href='').fest-event__list-item(data-type='3')
          //              .fest-event__list-item-time 19:00-20:00
          //              .fest-event__list-item-title интервью с урбанистом: ричард флорида
          //              .fest-event__list-item-lang en
          //              .fest-event__list-item-reg Регистрация
          //
          //    .fest-venue.fest-venue--full
          //      .fest-venue__name Зал 2
          //      .fest-event__container
          //        .fest-event(data-day='3')
          //          .fest-event__date 19 Июля
          //          .fest-event__list
          //            a(href='').fest-event__list-item(data-type='2')
          //              .fest-event__list-item-time 18:00-19:30
          //              .fest-event__list-item-title интервью с архитектором: рем колхас и владимир познер
          //              .fest-event__list-item-lang en
          //              .fest-event__list-item-reg Регистрация
          //      .fest-event(data-day='4')
          //        .fest-event__date 20 Июля
          //        .fest-event__list
          //          a(href='').fest-event__list-item
          //            .fest-event__list-item-time 19:00-20:00
          //            .fest-event__list-item-title интервью с урбанистом: ричард флорида
          //            .fest-event__list-item-lang en
          //            .fest-event__list-item-reg Регистрация
          //    .fest-venue
          //      .fest-venue__name Зал 3
          //      .fest-event__container
          //        .fest-event(data-day='5')
          //          .fest-event__date 21 Июля
          //          .fest-event__list
          //            a(href='').fest-event__list-item
          //              .fest-event__list-item-time 18:00-19:30
          //              .fest-event__list-item-title интервью с архитектором: рем колхас и владимир познер
          //              .fest-event__list-item-lang en
          //              .fest-event__list-item-reg Регистрация
          //        .fest-event(data-day='6')
          //          .fest-event__date 22 Июля
          //          .fest-event__list
          //            a(href='').fest-event__list-item
          //              .fest-event__list-item-time 19:00-20:00
          //              .fest-event__list-item-title интервью с урбанистом: ричард флорида
          //              .fest-event__list-item-lang en
          //              .fest-event__list-item-reg Регистрация
          //    .fest-venue
          //      .fest-venue__name Зал 4
          //      .fest-event__container
          //        .fest-event(data-day='6')
          //          .fest-event__date 22 Июля
          //          .fest-event__list
          //            a(href='').fest-event__list-item
          //              .fest-event__list-item-time 18:00-19:30
          //              .fest-event__list-item-title ВОРКШОП TVоя Москва: Голос Москвы 24 о том, как полюбить публичные выступления
          //              .fest-event__list-item-lang en
          //              .fest-event__list-item-reg Регистрация
          //        .fest-event(data-day='6')
          //          .fest-event__date 22 Июля
          //          .fest-event__list
          //            a(href='').fest-event__list-item
          //              .fest-event__list-item-time 19:00-20:00
          //              .fest-event__list-item-title интервью с урбанистом: ричард флорида
          //              .fest-event__list-item-lang en
          //              .fest-event__list-item-reg Регистрация
          //    .fest-venue
          //      .fest-venue__name Зал 5
          //      .fest-event__container
          //        .fest-event(data-day='6')
          //          .fest-event__date 22 Июля
          //          .fest-event__list
          //            a(href='').fest-event__list-item
          //              .fest-event__list-item-time 18:00-19:30
          //              .fest-event__list-item-title интервью с архитектором: рем колхас и владимир познер
          //              .fest-event__list-item-lang en
          //              .fest-event__list-item-reg Регистрация
          //        .fest-event(data-day='6')
          //          .fest-event__date 22 Июля
          //          .fest-event__list
          //            a(href='').fest-event__list-item
          //              .fest-event__list-item-time 19:00-20:00
          //              .fest-event__list-item-title интервью с урбанистом: ричард флорида
          //              .fest-event__list-item-lang en
          //              .fest-event__list-item-reg Регистрация
