app/partners-page.pug
extends pug/layouts/headless

include pug/blocks/header-secondary

block content
  main.mainer
    section.page
      +header-secondary('Все партнеры и спонсоры', '/partnership.html')
      .page__content
        img(src="").partners-page__logo
        .partners-page__inner
          .partners-page__title Газпром нефть
          .partners-page__description партнер дня, Россия
          p.
            <b>«Газпром нефть»</b> — вертикально-интегрированная нефтяная компания, основные виды деятельности которой — разведка и разработка месторождений нефти и газа, нефтепереработка, а также производство и сбыт нефтепродуктов.
          p.
            В структуру «Газпром нефти» входят более 70 нефтедобывающих, нефтеперерабатывающих и сбытовых предприятий в России, странах ближнего и дальнего зарубежья. По состоянию на 31 декабря 2016 года суммарные запасы углеводородов «Газпром нефти» (с учетом доли в совместных предприятиях) категорий «доказанные» и «вероятные» (proved + probable — 2P) по международным стандартам SPE-PRMS** составили 2,72 млрд тонн нефтяного эквивалента.
          p.
            Компания демонстрирует одно из лучших в российской отрасли соотношений добычи и переработки. По объему переработки нефти «Газпром нефть» входит в тройку крупнейших компаний в России, по объему добычи занимает четвертое место.
          p.
            «Газпром нефть» ведет работу в крупнейших нефтегазоносных регионах России: Ханты-Мансийском и Ямало-Ненецком автономных округах, Томской, Омской, Оренбургской областях. Основные перерабатывающие мощности компании находятся в Омске, Москве и Ярославле, а также в городах Панчево и Нови Сад (Сербия). Кроме того, «Газпром нефть» реализует проекты в области добычи за пределами России — в Ираке, Венесуэле и других странах.
          p.
            Продукция «Газпром нефти» экспортируется в более чем 50 стран мира и реализуется на всей территории РФ и за рубежом через разветвленную сеть собственных сбытовых предприятий.
          p.
            В настоящее время сеть АЗС компании насчитывает 1 793 станции в России, странах СНГ и Европы.

dist/partners-page.html
<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="utf-8">
  <meta name="description" content="">
  <meta name="format-detection" content="telephone=no">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>Moscow Urban Forum</title>
  <link rel="apple-touch-icon-precomposed" sizes="152x152" href="apple-touch-icon-152x152.png">
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="apple-touch-icon-144x144.png">
  <link rel="icon" type="image/png" href="favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="favicon-16x16.png" sizes="16x16">
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="styles/main.css">
</head>
<body ontouchstart><!--[if lt IE 10]><p class="browserupgrade">You are using an <strong>outdated</strong> browser.
  Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p><![endif]-->
<div class="container container--headless">
  <header class="header"><a class="header__logo" href="/"><img src="./assets/img/logo.svg"
                                                               srcset="./assets/img/logo.svg 2x, ./assets/img/logo.svg 3x"></a>
    <nav class="menu">
      <ul class="menu__row">
        <li class="menu__item"><a href="#main-history">Форум 2017</a></li>
        <li class="menu__item"><a href="/news-list.html">Новости</a></li>
        <li class="menu__item"><a href="/calendar.html#month_2_2018">Календарь</a></li>
        <li class="menu__item"><a href="/fest.html">Фестиваль</a></li>
        <li class="menu__item"><a href="#">Премия</a></li>
      </ul>
      <ul class="menu__row">
        <li class="menu__item"><a href="/partnership.html">Партнеры</a></li>
        <li class="menu__item"><a href="/library.html">Библиотека</a></li>
        <li class="menu__item"><a href="/video.html">Видео</a></li>
        <li class="menu__item menu__item--dropdown">
          <div>Архив</div>
          <ul class="menu__dropdown">
            <li class="menu__item"><a href="/">Форум 2016</a></li>
            <li class="menu__item"><a href="/">Форум 2015</a></li>
            <li class="menu__item"><a href="/">Форум 2014</a></li>
          </ul>
        </li>
      </ul>
    </nav>
    <div class="header__registration"><a class="header__registration-btn" href="#">Регистрация</a></div>
    <a class="header__language-link" href="#">en</a>
    <div class="header__nav-toggle">
      <div class="hamburger hamburger--squeeze">
        <div class="hamburger-box">
          <div class="hamburger-inner"></div>
        </div>
      </div>
    </div>
  </header>
  <nav class="menu-mobile">
    <div class="menu-mobile__inner">
      <ul class="menu-mobile__list">
        <li class="menu-mobile__item"><a href="#">Форум 2017</a></li>
        <li class="menu-mobile__item"><a href="/news-list.html">Новости</a></li>
        <li class="menu-mobile__item"><a href="/calendar.html">Календарь</a></li>
        <li class="menu-mobile__item"><a href="/fest.html">Фестиваль</a></li>
        <li class="menu-mobile__item"><a href="#">Премия</a></li>
        <li class="menu-mobile__item"><a href="/partnership.html">Партнеры</a></li>
        <li class="menu-mobile__item"><a href="/library.html">Библиотека</a></li>
        <li class="menu-mobile__item"><a href="/video.html">Видео</a></li>
      </ul>
      <ul class="menu-mobile__archive">
        <div class="menu-mobile__archive-title">Архив</div>
        <li class="menu-mobile__item menu-mobile__item--horizontal"><a href="#">2016</a></li>
        <li class="menu-mobile__item menu-mobile__item--horizontal"><a href="#">2015</a></li>
        <li class="menu-mobile__item menu-mobile__item--horizontal"><a href="#">2014</a></li>
        <li class="menu-mobile__item menu-mobile__item--horizontal"><a href="#">2013</a></li>
      </ul>
      <div class="menu-mobile__social">
        <div class="menu-mobile__social-item menu-mobile__social-item--ig"></div>
        <div class="menu-mobile__social-item menu-mobile__social-item--yt"></div>
        <div class="menu-mobile__social-item menu-mobile__social-item--vk"></div>
        <div class="menu-mobile__social-item menu-mobile__social-item--fb"></div>
      </div>
    </div>
  </nav>
  <main class="mainer">
    <section class="page">
      <div class="header__secondary"><a class="header__secondary-link" href="/partnership.html">Все партнеры и
        спонсоры</a></div>
      <div class="page__content"><img class="partners-page__logo" src="">
        <div class="partners-page__inner">
          <div class="partners-page__title">Газпром нефть</div>
          <div class="partners-page__description">партнер дня, Россия</div>
          <p><b>«Газпром нефть»</b> — вертикально-интегрированная нефтяная компания, основные виды деятельности которой
            — разведка и разработка месторождений нефти и газа, нефтепереработка, а также производство и сбыт
            нефтепродуктов.</p>
          <p>В структуру «Газпром нефти» входят более 70 нефтедобывающих, нефтеперерабатывающих и сбытовых предприятий в
            России, странах ближнего и дальнего зарубежья. По состоянию на 31 декабря 2016 года суммарные запасы
            углеводородов «Газпром нефти» (с учетом доли в совместных предприятиях) категорий «доказанные» и «вероятные»
            (proved + probable — 2P) по международным стандартам SPE-PRMS** составили 2,72 млрд тонн нефтяного
            эквивалента.</p>
          <p>Компания демонстрирует одно из лучших в российской отрасли соотношений добычи и переработки. По объему
            переработки нефти «Газпром нефть» входит в тройку крупнейших компаний в России, по объему добычи занимает
            четвертое место.</p>
          <p>«Газпром нефть» ведет работу в крупнейших нефтегазоносных регионах России: Ханты-Мансийском и
            Ямало-Ненецком автономных округах, Томской, Омской, Оренбургской областях. Основные перерабатывающие
            мощности компании находятся в Омске, Москве и Ярославле, а также в городах Панчево и Нови Сад (Сербия).
            Кроме того, «Газпром нефть» реализует проекты в области добычи за пределами России — в Ираке, Венесуэле и
            других странах.</p>
          <p>Продукция «Газпром нефти» экспортируется в более чем 50 стран мира и реализуется на всей территории РФ и за
            рубежом через разветвленную сеть собственных сбытовых предприятий.</p>
          <p>В настоящее время сеть АЗС компании насчитывает 1 793 станции в России, странах СНГ и Европы.</p></div>
      </div>
    </section>
  </main>
  <footer class="footer">
    <div class="footer__social">
      <div class="footer__social-content"><a class="footer__social-item" href="#"><img
        class="footer__social-icon footer__social-icon--fb" src="assets/img/footer/fb.svg"></a><a
        class="footer__social-item" href="#"><img class="footer__social-icon footer__social-icon--vk"
                                                  src="assets/img/footer/vk.svg"></a><a class="footer__social-item"
                                                                                        href="#"><img
        class="footer__social-icon footer__social-icon--yt" src="assets/img/footer/yt.svg"></a><a
        class="footer__social-item" href="#"><img class="footer__social-icon footer__social-icon--ig"
                                                  src="assets/img/footer/ig.svg"></a></div>
    </div>
    <div class="footer__content">
      <div class="footer__row"><img class="footer__logo" src="assets/img/logo-simple.png" width="100%" height="100%"
                                    title="Moscow Urban Forum">
        <div class="footer__info"><h1 class="footer__info-title">MOSCOW URBAN FORUM — крупнейший международный конгресс,
          посвященный вызовам развития глобальных мегаполисов. Форум проводится ежегодно с 2011 года.</h1><span
          class="footer__info-text">MUF объединяет представителей городских администраций России и мира, архитекторов, градостроителей, девелоперов, руководителей финансовых компаний, инвесторов, технологические стартапы, представителей медиа  и горожан.</span>
        </div>
      </div>
      <div class="footer__row">
        <div class="footer__block"><h2 class="footer__block-title">Разделы</h2><a class="footer__nav-item" href="#">Форум
          2017</a><a class="footer__nav-item" href="#">Видео выступлений</a><a class="footer__nav-item" href="#">Календарь</a><a
          class="footer__nav-item" href="#">Новости</a></div>
        <div class="footer__block"><h2 class="footer__block-title">Архив</h2><a class="footer__nav-item"
                                                                                href="#">2012</a><a
          class="footer__nav-item" href="#">2013</a><a class="footer__nav-item" href="#">2014</a><a
          class="footer__nav-item" href="#">2016</a></div>
        <div class="footer__block"><h2 class="footer__block-title">Контакты</h2>
          <div class="footer__phone">8 499 641-15-82</div>
          <a class="footer__link" href="mailto:welcome@mosurbanforum.ru" target="_blank">welcome@mosurbanforum.ru</a>
          <div class="footer__decorated-block"><h2 class="footer__decorated-block-title">Адрес офиса</h2><span
            class="footer__decorated-block-content">ВДНХ, домовладение 119, павильон № 75, проспект Мира, Москва, 129223</span>
          </div>
        </div>
        <div class="footer__block"><h2 class="footer__block-title">По вопросам партнерста и спонcорства</h2><span>8 499 641-15-82 | <a
          class="footer__link" href="mailto:partner@mosurbanforum.ru">partner@mosurbanforum.ru</a></span>
          <div class="footer__people">
            <div class="footer__decorated-block"><h2 class="footer__decorated-block-title">Арина Дробина</h2><span
              class="footer__decorated-block-content">директор по маркетингу</span></div>
            <div class="footer__decorated-block"><h2 class="footer__decorated-block-title">Наталья Дубовик</h2><span
              class="footer__decorated-block-content">менеджер по работе с партнерами</span></div>
          </div>
          <div class="footer__tender"><strong>Стать подрядчиком:&nbsp;</strong><a class="footer__link"
                                                                                  href="mailto:tenders@mosurbanforum.ru">tenders@mosurbanforum.ru</a>
          </div>
        </div>
      </div>
      <div class="footer__copyright">© Moscow Urban Forum, 2017</div>
    </div>
  </footer>
  <footer class="footer__mob">
    <div class="footer__mob-inner">
      <div class="footer__mob-section"><h3 class="footer__mob-section-title">Разделы</h3>
        <nav class="footer__mob-nav"><a class="footer__mob-nav-item" href="#">Форум 2017</a><a
          class="footer__mob-nav-item" href="#">Новости</a><a class="footer__mob-nav-item" href="#">Календарь</a><a
          class="footer__mob-nav-item" href="#">Фестиваль</a><a class="footer__mob-nav-item" href="#">Премия</a><a
          class="footer__mob-nav-item" href="#">Партнеры</a><a class="footer__mob-nav-item" href="#">Библиотека</a><a
          class="footer__mob-nav-item" href="#">Видео</a></nav>
      </div>
      <div class="footer__mob-section"><h3 class="footer__mob-section-title">Архив</h3>
        <nav class="footer__mob-nav"><a class="footer__mob-nav-item" href="#">2016</a><a class="footer__mob-nav-item"
                                                                                         href="#">2015</a><a
          class="footer__mob-nav-item" href="#">2014</a><a class="footer__mob-nav-item" href="#">2013</a></nav>
      </div>
      <div class="footer__mob-section footer__mob-section--small-indent"><h3 class="footer__mob-section-title">
        Контакты</h3><span class="footer__mob-section-text">8 499 641-15-82<br><a class="footer__mob-link"
                                                                                  href="mailto:welcome@mosurbanforum.ru"
                                                                                  target="_blank">welcome@mosurbanforum.ru</a></span>
      </div>
      <div class="footer__mob-section footer__mob-section--small-indent"><h4
        class="footer__mob-section-title footer__mob-section-title--secondary">Адрес офиса</h4><span
        class="footer__mob-section-text">ВДНХ, домовладение 119, павильон № 75,<br>проспект Мира, Москва, 129223</span>
      </div>
      <div class="footer__mob-section footer__mob-section--small-indent"><h4
        class="footer__mob-section-title footer__mob-section-title--secondary">Стать подрядчиком</h4><span
        class="footer__mob-section-text"><a class="footer__mob-link" href="mailto:tenders@mosurbanforum.ru"
                                            target="_blank">tenders@mosurbanforum.ru</a></span></div>
      <div class="footer__mob-section footer__mob-section--marked footer__mob-section--small-indent"><h3
        class="footer__mob-section-title">По вопросам партнерства и спонсорства</h3><span
        class="footer__mob-section-text">8 499 641-15-82<br><a class="footer__mob-link"
                                                               href="mailto:partner@mosurbanforum.ru" target="_blank">partner@mosurbanforum.ru</a></span>
      </div>
      <div class="footer__mob-section footer__mob-section--small-indent"><h4
        class="footer__mob-section-title footer__mob-section-title--secondary">Арина Дробина</h4><span
        class="footer__mob-section-text">директор по маркетингу</span></div>
      <div class="footer__mob-section"><h4 class="footer__mob-section-title footer__mob-section-title--secondary">
        Наталья Дубовик</h4><span class="footer__mob-section-text">менеджер по работе с партнерами</span></div>
      <div class="footer__mob-copyright">© Moscow Urban Forum, 2017</div>
    </div>
  </footer>
</div>
<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script src="https://unpkg.com/micromodal/dist/micromodal.min.js"></script>
<script src="scripts/main.js"></script>
</body>
</html>
