dist/video.html
<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="utf-8">
  <meta name="description" content="">
  <meta name="format-detection" content="telephone=no">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>Moscow Urban Forum</title>
  <link rel="apple-touch-icon-precomposed" sizes="152x152" href="apple-touch-icon-152x152.png">
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="apple-touch-icon-144x144.png">
  <link rel="icon" type="image/png" href="favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="favicon-16x16.png" sizes="16x16">
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="styles/main.css">
</head>
<body ontouchstart><!--[if lt IE 10]><p class="browserupgrade">You are using an <strong>outdated</strong> browser.
  Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p><![endif]-->
<div class="container">
  <header class="header"><a class="header__logo" href="/"><img src="./assets/img/logo.svg"
                                                               srcset="./assets/img/logo.svg 2x, ./assets/img/logo.svg 3x"></a>
    <nav class="menu">
      <ul class="menu__row">
        <li class="menu__item"><a href="#main-history">Форум 2017</a></li>
        <li class="menu__item"><a href="/news-list.html">Новости</a></li>
        <li class="menu__item"><a href="/calendar.html#month_2_2018">Календарь</a></li>
        <li class="menu__item"><a href="/fest.html">Фестиваль</a></li>
        <li class="menu__item"><a href="#">Премия</a></li>
      </ul>
      <ul class="menu__row">
        <li class="menu__item"><a href="/partnership.html">Партнеры</a></li>
        <li class="menu__item"><a href="/library.html">Библиотека</a></li>
        <li class="menu__item"><a href="/video.html">Видео</a></li>
        <li class="menu__item menu__item--dropdown">
          <div>Архив</div>
          <ul class="menu__dropdown">
            <li class="menu__item"><a href="/">Форум 2016</a></li>
            <li class="menu__item"><a href="/">Форум 2015</a></li>
            <li class="menu__item"><a href="/">Форум 2014</a></li>
          </ul>
        </li>
      </ul>
    </nav>
    <div class="header__registration"><a class="header__registration-btn" href="#">Регистрация</a></div>
    <a class="header__language-link" href="#">en</a>
    <div class="header__nav-toggle">
      <div class="hamburger hamburger--squeeze">
        <div class="hamburger-box">
          <div class="hamburger-inner"></div>
        </div>
      </div>
    </div>
  </header>
  <nav class="menu-mobile">
    <div class="menu-mobile__inner">
      <ul class="menu-mobile__list">
        <li class="menu-mobile__item"><a href="#">Форум 2017</a></li>
        <li class="menu-mobile__item"><a href="/news-list.html">Новости</a></li>
        <li class="menu-mobile__item"><a href="/calendar.html">Календарь</a></li>
        <li class="menu-mobile__item"><a href="/fest.html">Фестиваль</a></li>
        <li class="menu-mobile__item"><a href="#">Премия</a></li>
        <li class="menu-mobile__item"><a href="/partnership.html">Партнеры</a></li>
        <li class="menu-mobile__item"><a href="/library.html">Библиотека</a></li>
        <li class="menu-mobile__item"><a href="/video.html">Видео</a></li>
      </ul>
      <ul class="menu-mobile__archive">
        <div class="menu-mobile__archive-title">Архив</div>
        <li class="menu-mobile__item menu-mobile__item--horizontal"><a href="#">2016</a></li>
        <li class="menu-mobile__item menu-mobile__item--horizontal"><a href="#">2015</a></li>
        <li class="menu-mobile__item menu-mobile__item--horizontal"><a href="#">2014</a></li>
        <li class="menu-mobile__item menu-mobile__item--horizontal"><a href="#">2013</a></li>
      </ul>
      <div class="menu-mobile__social">
        <div class="menu-mobile__social-item menu-mobile__social-item--ig"></div>
        <div class="menu-mobile__social-item menu-mobile__social-item--yt"></div>
        <div class="menu-mobile__social-item menu-mobile__social-item--vk"></div>
        <div class="menu-mobile__social-item menu-mobile__social-item--fb"></div>
      </div>
    </div>
  </nav>
  <main class="mainer">
    <section class="page">
      <div class="page__content"><h2 class="page-title">Видео выступлений</h2>
        <div class="video__search"><input class="search-input" data-search placeholder="Поиск по выступлениям"></div>
        <div class="video__archive">
          <div class="video__archive-item">
            <div class="video__archive-letter">а</div>
            <div class="video__archive-slider">
              <div class="slider__video owl-carousel"><a class="slider__video-item" data-filter-item="data-filter-item"
                                                         data-filter-name="aqua est vita роль реки в современном мегаполисе"
                                                         href="https://www.youtube.com/embed/23YUmvsCtU8"
                                                         data-mediabox="main-video-gallery" data-width="900"
                                                         data-height="600"><img class="slider__video-item-img"
                                                                                src="https://img.youtube.com/vi/23YUmvsCtU8/0.jpg"><span
                class="slider__video-item-caption">Aqua Est Vita. Роль реки в современном мегаполисе</span></a><a
                class="slider__video-item" data-filter-item="data-filter-item"
                data-filter-name="burning man сила творческого сообщества принципы фестиваля в россии"
                href="https://www.youtube.com/embed/23YUmvsCtU8" data-mediabox="main-video-gallery" data-width="900"
                data-height="600"><img class="slider__video-item-img"
                                       src="https://img.youtube.com/vi/23YUmvsCtU8/0.jpg"><span
                class="slider__video-item-caption">Burning Man. Сила творческого сообщества. Принципы фестиваля в России</span></a><a
                class="slider__video-item" data-filter-item="data-filter-item"
                data-filter-name="data-driven cities как данные меняют наше представление о городе"
                href="https://www.youtube.com/embed/23YUmvsCtU8" data-mediabox="main-video-gallery" data-width="900"
                data-height="600"><img class="slider__video-item-img"
                                       src="https://img.youtube.com/vi/23YUmvsCtU8/0.jpg"><span
                class="slider__video-item-caption">Data-driven cities. Как данные меняют наше представление о городе?</span></a><a
                class="slider__video-item" data-filter-item="data-filter-item"
                data-filter-name="do it yourself кто такие мейкеры" href="https://www.youtube.com/embed/23YUmvsCtU8"
                data-mediabox="main-video-gallery" data-width="900" data-height="600"><img
                class="slider__video-item-img" src="https://img.youtube.com/vi/23YUmvsCtU8/0.jpg"><span
                class="slider__video-item-caption">Do it yourself. Кто такие мейкеры</span></a><a
                class="slider__video-item" data-filter-item="data-filter-item"
                data-filter-name="duty free в масштабе страны особые экономические зоны"
                href="https://www.youtube.com/embed/23YUmvsCtU8" data-mediabox="main-video-gallery" data-width="900"
                data-height="600"><img class="slider__video-item-img"
                                       src="https://img.youtube.com/vi/23YUmvsCtU8/0.jpg"><span
                class="slider__video-item-caption">Duty Free в масштабе страны. Особые экономические зоны</span></a><a
                class="slider__video-item" data-filter-item="data-filter-item"
                data-filter-name="fifa 2018 cпортивный мегапроект как драйвер модернизации городов"
                href="https://www.youtube.com/embed/23YUmvsCtU8" data-mediabox="main-video-gallery" data-width="900"
                data-height="600"><img class="slider__video-item-img"
                                       src="https://img.youtube.com/vi/23YUmvsCtU8/0.jpg"><span
                class="slider__video-item-caption">FIFA 2018. Спортивный мегапроект как драйвер модернизации городов</span></a><a
                class="slider__video-item" data-filter-item="data-filter-item"
                data-filter-name="good local что значит соседство в 2017 году"
                href="https://www.youtube.com/embed/23YUmvsCtU8" data-mediabox="main-video-gallery" data-width="900"
                data-height="600"><img class="slider__video-item-img"
                                       src="https://img.youtube.com/vi/23YUmvsCtU8/0.jpg"><span
                class="slider__video-item-caption">Good local. Что значит соседство в 2017 году</span></a><a
                class="slider__video-item" data-filter-item="data-filter-item"
                data-filter-name="intelligence is new sexy наука в жизни мегаполиса"
                href="https://www.youtube.com/embed/23YUmvsCtU8" data-mediabox="main-video-gallery" data-width="900"
                data-height="600"><img class="slider__video-item-img"
                                       src="https://img.youtube.com/vi/23YUmvsCtU8/0.jpg"><span
                class="slider__video-item-caption">Intelligence is new sexy. Наука в жизни мегаполиса</span></a><a
                class="slider__video-item" data-filter-item="data-filter-item"
                data-filter-name="urban resilience как азиатские мегаполисы собирают пазл устойчивого развития"
                href="https://www.youtube.com/embed/23YUmvsCtU8" data-mediabox="main-video-gallery" data-width="900"
                data-height="600"><img class="slider__video-item-img"
                                       src="https://img.youtube.com/vi/23YUmvsCtU8/0.jpg"><span
                class="slider__video-item-caption">Urban resilience. Как азиатские мегаполисы собирают пазл устойчивого развития</span></a><a
                class="slider__video-item slider__video-item--last" href="#"><img class="slider__video-item-img"
                                                                                  src="assets/img/icons/film-black.svg"><span
                class="slider__video-item-caption">Все видео  выступлений</span></a></div>
            </div>
          </div>
          <div class="video__archive-item">
            <div class="video__archive-letter">б</div>
            <div class="video__archive-slider">
              <div class="slider__video owl-carousel"><a class="slider__video-item" data-filter-item
                                                         data-filter-name="#urbanдети интересное и важное о городе для детей"
                                                         href="https://www.youtube.com/embed/23YUmvsCtU8"
                                                         data-mediabox="main-video-gallery" data-width="900"
                                                         data-height="600"><img class="slider__video-item-img"
                                                                                src="https://img.youtube.com/vi/23YUmvsCtU8/0.jpg"><span
                class="slider__video-item-caption">#urbanдети. Интересное и важное о городе для детей</span></a><a
                class="slider__video-item" data-filter-item data-filter-name="isocarp развитие района печатники (ypp)"
                href="https://www.youtube.com/embed/23YUmvsCtU8" data-mediabox="main-video-gallery" data-width="900"
                data-height="600"><img class="slider__video-item-img"
                                       src="https://img.youtube.com/vi/23YUmvsCtU8/0.jpg"><span
                class="slider__video-item-caption">Isocarp. Развитие района печатники (ypp)</span></a><a
                class="slider__video-item" data-filter-item
                data-filter-name="jeremy hildreth if place branding isnt robust then its just wishful thinking (rus)"
                href="https://www.youtube.com/embed/23YUmvsCtU8" data-mediabox="main-video-gallery" data-width="900"
                data-height="600"><img class="slider__video-item-img"
                                       src="https://img.youtube.com/vi/23YUmvsCtU8/0.jpg"><span
                class="slider__video-item-caption">Jeremy Hildreth «If place branding isn’t robust then it’s just wishful thinking» (rus)</span></a><a
                class="slider__video-item" data-filter-item
                data-filter-name="survival kit для урбаниста времен технологической революции"
                href="https://www.youtube.com/embed/23YUmvsCtU8" data-mediabox="main-video-gallery" data-width="900"
                data-height="600"><img class="slider__video-item-img"
                                       src="https://img.youtube.com/vi/23YUmvsCtU8/0.jpg"><span
                class="slider__video-item-caption">Survival kit для урбаниста времен технологической революции</span></a><a
                class="slider__video-item" data-filter-item
                data-filter-name="the moscow state how will hps-2 be transformed into a major modern art museum"
                href="https://www.youtube.com/embed/23YUmvsCtU8" data-mediabox="main-video-gallery" data-width="900"
                data-height="600"><img class="slider__video-item-img"
                                       src="https://img.youtube.com/vi/23YUmvsCtU8/0.jpg"><span
                class="slider__video-item-caption">The Moscow tate. How will hps-2 be transformed into a major modern art museum?</span></a><a
                class="slider__video-item" data-filter-item
                data-filter-name="архитектурная политика пришло ли время для институционализации"
                href="https://www.youtube.com/embed/23YUmvsCtU8" data-mediabox="main-video-gallery" data-width="900"
                data-height="600"><img class="slider__video-item-img"
                                       src="https://img.youtube.com/vi/23YUmvsCtU8/0.jpg"><span
                class="slider__video-item-caption">Архитектурная политика. Пришло ли время для институционализации?</span></a><a
                class="slider__video-item" data-filter-item
                data-filter-name="безопасность города ответы на главные вызовы"
                href="https://www.youtube.com/embed/23YUmvsCtU8" data-mediabox="main-video-gallery" data-width="900"
                data-height="600"><img class="slider__video-item-img"
                                       src="https://img.youtube.com/vi/23YUmvsCtU8/0.jpg"><span
                class="slider__video-item-caption">Безопасность города. Ответы на главные вызовы</span></a><a
                class="slider__video-item" data-filter-item data-filter-name="большие маленькие проекты"
                href="https://www.youtube.com/embed/23YUmvsCtU8" data-mediabox="main-video-gallery" data-width="900"
                data-height="600"><img class="slider__video-item-img"
                                       src="https://img.youtube.com/vi/23YUmvsCtU8/0.jpg"><span
                class="slider__video-item-caption">Большие маленькие проекты</span></a><a
                class="slider__video-item slider__video-item--last" href="#"><img class="slider__video-item-img"
                                                                                  src="assets/img/icons/film-black.svg"><span
                class="slider__video-item-caption">Все видео  выступлений</span></a></div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
  <footer class="footer">
    <div class="footer__social">
      <div class="footer__social-content"><a class="footer__social-item" href="#"><img
        class="footer__social-icon footer__social-icon--fb" src="assets/img/footer/fb.svg"></a><a
        class="footer__social-item" href="#"><img class="footer__social-icon footer__social-icon--vk"
                                                  src="assets/img/footer/vk.svg"></a><a class="footer__social-item"
                                                                                        href="#"><img
        class="footer__social-icon footer__social-icon--yt" src="assets/img/footer/yt.svg"></a><a
        class="footer__social-item" href="#"><img class="footer__social-icon footer__social-icon--ig"
                                                  src="assets/img/footer/ig.svg"></a></div>
    </div>
    <div class="footer__content">
      <div class="footer__row"><img class="footer__logo" src="assets/img/logo-simple.png" width="100%" height="100%"
                                    title="Moscow Urban Forum">
        <div class="footer__info"><h1 class="footer__info-title">MOSCOW URBAN FORUM — крупнейший международный конгресс,
          посвященный вызовам развития глобальных мегаполисов. Форум проводится ежегодно с 2011 года.</h1><span
          class="footer__info-text">MUF объединяет представителей городских администраций России и мира, архитекторов, градостроителей, девелоперов, руководителей финансовых компаний, инвесторов, технологические стартапы, представителей медиа  и горожан.</span>
        </div>
      </div>
      <div class="footer__row">
        <div class="footer__block"><h2 class="footer__block-title">Разделы</h2><a class="footer__nav-item" href="#">Форум
          2017</a><a class="footer__nav-item" href="#">Видео выступлений</a><a class="footer__nav-item" href="#">Календарь</a><a
          class="footer__nav-item" href="#">Новости</a></div>
        <div class="footer__block"><h2 class="footer__block-title">Архив</h2><a class="footer__nav-item"
                                                                                href="#">2012</a><a
          class="footer__nav-item" href="#">2013</a><a class="footer__nav-item" href="#">2014</a><a
          class="footer__nav-item" href="#">2016</a></div>
        <div class="footer__block"><h2 class="footer__block-title">Контакты</h2>
          <div class="footer__phone">8 499 641-15-82</div>
          <a class="footer__link" href="mailto:welcome@mosurbanforum.ru" target="_blank">welcome@mosurbanforum.ru</a>
          <div class="footer__decorated-block"><h2 class="footer__decorated-block-title">Адрес офиса</h2><span
            class="footer__decorated-block-content">ВДНХ, домовладение 119, павильон № 75, проспект Мира, Москва, 129223</span>
          </div>
        </div>
        <div class="footer__block"><h2 class="footer__block-title">По вопросам партнерста и спонcорства</h2><span>8 499 641-15-82 | <a
          class="footer__link" href="mailto:partner@mosurbanforum.ru">partner@mosurbanforum.ru</a></span>
          <div class="footer__people">
            <div class="footer__decorated-block"><h2 class="footer__decorated-block-title">Арина Дробина</h2><span
              class="footer__decorated-block-content">директор по маркетингу</span></div>
            <div class="footer__decorated-block"><h2 class="footer__decorated-block-title">Наталья Дубовик</h2><span
              class="footer__decorated-block-content">менеджер по работе с партнерами</span></div>
          </div>
          <div class="footer__tender"><strong>Стать подрядчиком:&nbsp;</strong><a class="footer__link"
                                                                                  href="mailto:tenders@mosurbanforum.ru">tenders@mosurbanforum.ru</a>
          </div>
        </div>
      </div>
      <div class="footer__copyright">© Moscow Urban Forum, 2017</div>
    </div>
  </footer>
  <footer class="footer__mob">
    <div class="footer__mob-inner">
      <div class="footer__mob-section"><h3 class="footer__mob-section-title">Разделы</h3>
        <nav class="footer__mob-nav"><a class="footer__mob-nav-item" href="#">Форум 2017</a><a
          class="footer__mob-nav-item" href="#">Новости</a><a class="footer__mob-nav-item" href="#">Календарь</a><a
          class="footer__mob-nav-item" href="#">Фестиваль</a><a class="footer__mob-nav-item" href="#">Премия</a><a
          class="footer__mob-nav-item" href="#">Партнеры</a><a class="footer__mob-nav-item" href="#">Библиотека</a><a
          class="footer__mob-nav-item" href="#">Видео</a></nav>
      </div>
      <div class="footer__mob-section"><h3 class="footer__mob-section-title">Архив</h3>
        <nav class="footer__mob-nav"><a class="footer__mob-nav-item" href="#">2016</a><a class="footer__mob-nav-item"
                                                                                         href="#">2015</a><a
          class="footer__mob-nav-item" href="#">2014</a><a class="footer__mob-nav-item" href="#">2013</a></nav>
      </div>
      <div class="footer__mob-section footer__mob-section--small-indent"><h3 class="footer__mob-section-title">
        Контакты</h3><span class="footer__mob-section-text">8 499 641-15-82<br><a class="footer__mob-link"
                                                                                  href="mailto:welcome@mosurbanforum.ru"
                                                                                  target="_blank">welcome@mosurbanforum.ru</a></span>
      </div>
      <div class="footer__mob-section footer__mob-section--small-indent"><h4
        class="footer__mob-section-title footer__mob-section-title--secondary">Адрес офиса</h4><span
        class="footer__mob-section-text">ВДНХ, домовладение 119, павильон № 75,<br>проспект Мира, Москва, 129223</span>
      </div>
      <div class="footer__mob-section footer__mob-section--small-indent"><h4
        class="footer__mob-section-title footer__mob-section-title--secondary">Стать подрядчиком</h4><span
        class="footer__mob-section-text"><a class="footer__mob-link" href="mailto:tenders@mosurbanforum.ru"
                                            target="_blank">tenders@mosurbanforum.ru</a></span></div>
      <div class="footer__mob-section footer__mob-section--marked footer__mob-section--small-indent"><h3
        class="footer__mob-section-title">По вопросам партнерства и спонсорства</h3><span
        class="footer__mob-section-text">8 499 641-15-82<br><a class="footer__mob-link"
                                                               href="mailto:partner@mosurbanforum.ru" target="_blank">partner@mosurbanforum.ru</a></span>
      </div>
      <div class="footer__mob-section footer__mob-section--small-indent"><h4
        class="footer__mob-section-title footer__mob-section-title--secondary">Арина Дробина</h4><span
        class="footer__mob-section-text">директор по маркетингу</span></div>
      <div class="footer__mob-section"><h4 class="footer__mob-section-title footer__mob-section-title--secondary">
        Наталья Дубовик</h4><span class="footer__mob-section-text">менеджер по работе с партнерами</span></div>
      <div class="footer__mob-copyright">© Moscow Urban Forum, 2017</div>
    </div>
  </footer>
</div>
<script src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script src="http://vk.com/js/api/xd_connection.js?2&quot;"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
<script src="https://unpkg.com/micromodal/dist/micromodal.min.js"></script>
<script src="scripts/main.js"></script>
</body>
</html>

app/video.pug
extends pug/layouts/default
include pug/blocks/slider/video-slider

block content
  main.mainer
    section.page
      .page__content
        h2.page-title Видео выступлений
        .video__search
          input.search-input(data-search placeholder='Поиск по выступлениям')
        .video__archive
          .video__archive-item
            .video__archive-letter а
            .video__archive-slider
              +video-slider
          .video__archive-item
            .video__archive-letter б
            .video__archive-slider
              .slider__video.owl-carousel

                a.slider__video-item(data-filter-item data-filter-name="#urbanдети интересное и важное о городе для детей" href='https://www.youtube.com/embed/23YUmvsCtU8' data-mediabox="main-video-gallery" data-width="900" data-height="600")
                  img.slider__video-item-img(src='https://img.youtube.com/vi/23YUmvsCtU8/0.jpg')
                  span.slider__video-item-caption #urbanдети. Интересное и важное о городе для детей

                a.slider__video-item(data-filter-item data-filter-name="isocarp развитие района печатники (ypp)" href='https://www.youtube.com/embed/23YUmvsCtU8' data-mediabox="main-video-gallery" data-width="900" data-height="600")
                  img.slider__video-item-img(src='https://img.youtube.com/vi/23YUmvsCtU8/0.jpg')
                  span.slider__video-item-caption Isocarp. Развитие района печатники (ypp)

                a.slider__video-item(data-filter-item data-filter-name="jeremy hildreth if place branding isnt robust then its just wishful thinking (rus)" href='https://www.youtube.com/embed/23YUmvsCtU8' data-mediabox="main-video-gallery" data-width="900" data-height="600")
                  img.slider__video-item-img(src='https://img.youtube.com/vi/23YUmvsCtU8/0.jpg')
                  span.slider__video-item-caption Jeremy Hildreth «If place branding isn’t robust then it’s just wishful thinking» (rus)

                a.slider__video-item(data-filter-item data-filter-name="survival kit для урбаниста времен технологической революции" href='https://www.youtube.com/embed/23YUmvsCtU8' data-mediabox="main-video-gallery" data-width="900" data-height="600")
                  img.slider__video-item-img(src='https://img.youtube.com/vi/23YUmvsCtU8/0.jpg')
                  span.slider__video-item-caption Survival kit для урбаниста времен технологической революции

                a.slider__video-item(data-filter-item data-filter-name="the moscow state how will hps-2 be transformed into a major modern art museum" href='https://www.youtube.com/embed/23YUmvsCtU8' data-mediabox="main-video-gallery" data-width="900" data-height="600")
                  img.slider__video-item-img(src='https://img.youtube.com/vi/23YUmvsCtU8/0.jpg')
                  span.slider__video-item-caption The Moscow tate. How will hps-2 be transformed into a major modern art museum?

                a.slider__video-item(data-filter-item data-filter-name="архитектурная политика пришло ли время для институционализации" href='https://www.youtube.com/embed/23YUmvsCtU8' data-mediabox="main-video-gallery" data-width="900" data-height="600")
                  img.slider__video-item-img(src='https://img.youtube.com/vi/23YUmvsCtU8/0.jpg')
                  span.slider__video-item-caption Архитектурная политика. Пришло ли время для институционализации?

                a.slider__video-item(data-filter-item data-filter-name="безопасность города ответы на главные вызовы" href='https://www.youtube.com/embed/23YUmvsCtU8' data-mediabox="main-video-gallery" data-width="900" data-height="600")
                  img.slider__video-item-img(src='https://img.youtube.com/vi/23YUmvsCtU8/0.jpg')
                  span.slider__video-item-caption Безопасность города. Ответы на главные вызовы

                a.slider__video-item(data-filter-item data-filter-name="большие маленькие проекты" href='https://www.youtube.com/embed/23YUmvsCtU8' data-mediabox="main-video-gallery" data-width="900" data-height="600")
                  img.slider__video-item-img(src='https://img.youtube.com/vi/23YUmvsCtU8/0.jpg')
                  span.slider__video-item-caption Большие маленькие проекты

                a.slider__video-item.slider__video-item--last(href='#')
                  img.slider__video-item-img(src='assets/img/icons/film-black.svg')
                  span.slider__video-item-caption Все видео  выступлений
